{% extends "page.html" %}
{% load charts i18n numbers static tables %}

{% block language_selector %}
  <li><a class="dropdown-item"
         href="{% url 'news:index' %}{% querystring %}">{{ lang_name }}</a></li>
{% endblock %}

{% block title %}{% trans 'News' %}{% endblock %}

{% block content %}
  <div class="d-flex flex-row align-items-baseline border-bottom mb-3">
    <h1>{% trans 'News' %}</h1>
    <div class="ms-auto">
      <small class="text-muted">{% trans 'Updated every hour' %}</small>
    </div>
  </div>
  <div>
    <div class="d-flex align-items-center border-bottom pb-3 mb-4">
      <div class="d-flex align-items-center">
        <div class="me-2">
          <a class="btn btn-link link-dark bg-light"
             href="{% querystring week=last_week %}">
            <i class="bi bi-chevron-left"></i>
          </a>
        </div>
        <div class="me-3">
          <a class="btn btn-link link-dark bg-light"
             href="{% querystring week=next_week %}">
            <i class="bi bi-chevron-right"></i>
          </a>
        </div>
        <div>
          <span class="h2">{{ subtitle }}</span>
        </div>
      </div>
      <div class="col-4 offset-1">
        <form method="get" id="autocomplete-form">
          <input type="hidden" name="week" value="{{ this_week }}">
          <div class="input-group">
            <input id="autocompleteInput"
                   type="text"
                   name="code"
                   value="{{ place }}"
                   class="form-control autocomplete"
                   data-server="{% url 'news:autocomplete' %}"
                   placeholder="{{ autocomplete_placeholder }}"/>
            <button id="search-button" type="button" class="btn btn-primary">
              <i class="bi-search btn-primary" title="{% trans 'Search' %}"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="container px-0">
      <div class="row mb-2">
        <div class="col-md-3 col-sm-6 mb-2">
          {% species_count country region district week_start week_end %}
        </div>
        <div class="col-md-3 col-sm-6 mb-2">
          {% checklist_count country region district week_start week_end %}
        </div>
        <div class="col-md-3 col-sm-6 mb-2">
          {% observer_count country region district week_start week_end %}
        </div>
        <div class="col-md-3 col-sm-6 mb-2">
          {% duration_count country region district week_start week_end %}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-4 col-sm-12">
          {% checklists_species_table country region district week_start week_end %}
        </div>
        <div class="col-md-4 col-sm-12">
          {% checklists_submitted_table country region district week_start week_end %}
        </div>
        <div class="col-md-4 col-sm-12">
          {% checklists_duration_table country region district week_start week_end %}
        </div>
      </div>
      <hr>
      {% with year=start_year %}
        <div class="row">
          <div class="col-12">
            {% yearlist_table %}
          </div>
        </div>
        <hr>
      {% endwith %}
      <div class="row">
        <div class="col-12">
          {% big_lists_table country region district week_start week_end multiple_countries%}
        </div>
      </div>
      <hr>
    </div>
  </div>
{% endblock content %}

{% block javascript %}
  {{ block.super }}
  <script type="text/javascript"
          src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
  {{ filter.form.media.js }}
  <script type="module">
    import Autocomplete from "{% static 'js/vendor/autocomplete-1.1.38.min.js' %}";

    $(document).ready(function() {
       new Autocomplete(document.getElementById("autocompleteInput"), {
         highlightTyped: true,
         fixed: true,
         fullWidth: true,
         hiddenInput: true,
       });

       document.getElementById("search-button").addEventListener("click", (event) => {
          document.getElementById("autocomplete-form").submit();
       });
       document.getElementById("search-button").addEventListener("enter", (event) => {
        document.getElementById("autocomplete-form").submit();
       });
    });
  </script>
{% endblock %}
