{% extends "page.html" %}
{% load charts i18n numbers static tables %}

{% block language_selector %}
  <li><a class="dropdown-item"
         href="{% url 'news:latest' %}{% querystring %}">{{ lang_name }}</a></li>
{% endblock %}

{% block title %}{% trans 'Latest News' %}{% endblock %}

{% block content %}
  <div class="row border-bottom mb-3 align-items-baseline">
    <div class="col">
      <h1>{% trans 'Latest News' %}</h1>
    </div>
    <div class="col ms-auto text-end">
      <small class="text-muted">{% trans 'Updated every hour' %}</small>
    </div>
  </div>

  <div class="row border-bottom mb-4 align-items-center">
    <div class="col-lg-4 col-md-8 col-sm-8 mb-3">
      <span class="h4">{{ subtitle }}</span>
    </div>
    <div class="col-lg-4 mb-3">
      <form method="get" id="autocomplete-form">
        <div class="input-group">
          <input id="autocompleteInput"
                 type="text"
                 name="search"
                 value="{{ search }}"
                 class="form-control autocomplete"
                 data-server="{% url 'news:autocomplete' %}"
            {% if show_country %}
                 placeholder="{% trans 'Enter Country, State or County' %}"
            {% else %}
                 placeholder="{% trans 'Enter State or County' %}"
            {% endif %}
          >
          <button id="search-button" type="button" class="btn btn-primary">
            <i class="bi-search btn-primary" title="{% trans 'Search' %}"></i>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="row border-bottom mb-3">
    <div class="col-md-3 col-sm-6 col-6 mb-3">
      {% species_count country state county start_date end_date %}
    </div>
    <div class="col-md-3 col-sm-6 col-6 mb-3">
      {% checklist_count country state county start_date end_date %}
    </div>
    <div class="col-md-3 col-sm-6 col-6 mb-3">
      {% observer_count country state county start_date end_date %}
    </div>
    <div class="col-md-3 col-sm-6 col-6 mb-3">
      {% duration_count country state county start_date end_date %}
    </div>
  </div>

  <div class="row border-bottom py-2">
    <div class="col-12">
      {% high_counts_table %}
    </div>
  </div>

  {% with year=end_date.year %}
    <div class="row border-bottom py-2">
      <div class="col-12">
        {% yearlist_table %}
      </div>
    </div>
  {% endwith %}

  <div class="row border-bottom py-2">
    <div class="col-12">
      {% big_lists_table country state county start_date end_date show_country %}
    </div>
  </div>

  <div class="row py-2">
    <div class="col-lg-6 col-md-6 col-sm-12">
      {% big_days_table country state county start_date end_date %}
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      {% checklists_species_table country state county start_date end_date %}
    </div>
  </div>

  <div class="row py-2">
    <div class="col-lg-6 col-md-6 col-sm-12">
      {% checklists_submitted_table country state county start_date end_date %}
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      {% checklists_duration_table country state county start_date end_date %}
    </div>
  </div>

{% endblock content %}

{% block javascript %}
  {{ block.super }}
  <script type="module">
    import Autocomplete from "{% static 'js/vendor/autocomplete-1.1.38.min.js' %}";

    (function() {
       new Autocomplete(document.getElementById("autocompleteInput"), {
         highlightTyped: true,
         fixed: true,
         fullWidth: true,
         hiddenInput: true,
       });

       document.getElementById("search-button").addEventListener("click", (event) => {
          document.getElementById("autocomplete-form").submit();
       });
       document.getElementById("search-button").addEventListener("enter", (event) => {
        document.getElementById("autocomplete-form").submit();
       });
    })();
  </script>
{% endblock %}
