{% extends "page.html" %}
{% load i18n numbers static tables %}

{% block title %}{% trans 'Latest News' %}{% endblock %}

{% block content %}
  <div class="container-fluid">

    <div class="row border-bottom align-items-baseline">
      <div class="col">
        <h1 class="pt-2">{% trans 'Weekly News' %}</h1>
      </div>
      <div class="col ms-auto text-end">
        <small class="text-muted">{% trans 'Updated every hour' %}</small>
      </div>
    </div>

    <div class="row border-bottom align-items-baseline">
      <div class="col-sm-3 col-md-2 col-lg-2 my-3">
        <a class="btn btn-link link-dark bg-light me-2"
           rel="nofollow"
           href="{% url "news:for-week" previous_year previous_week %}"
           title="{{ previous_label }}">
          <i class="bi bi-chevron-left"></i>
        </a>
        <a class="btn btn-link link-dark bg-light"
           rel="nofollow"
           href="{% url "news:for-week" next_year next_week %}"
           title="{{ next_label }}">
          <i class="bi bi-chevron-right"></i>
        </a>
      </div>
      <div class="col-sm-9 col-md-10 col-lg-4 mb-3">
        <span class="h4">{{ subtitle }}</span>
      </div>
      <div class="col-lg-4 mb-3">
        <form method="get" id="autocomplete-form">
          <div class="input-group">
            <input id="autocompleteInput"
                   type="text"
                   name="search"
                   value="{{ search }}"
                   class="form-control autocomplete"
                   data-server="{% url 'news:autocomplete' %}"
                   placeholder="{% trans 'Enter Country, State or County' %}">
            <button id="search-button" type="button" class="btn btn-primary">
              <i class="bi-search btn-primary" title="{% trans 'Search' %}"></i>
            </button>
          </div>
        </form>
      </div>
    </div>

    <div class="row border-bottom">
      <div class="col-md-3 col-sm-6 col-6 my-3">
        {% species_count country state county start_date end_date %}
      </div>
      <div class="col-md-3 col-sm-6 col-6 my-3">
        {% checklist_count country state county start_date end_date %}
      </div>
      <div class="col-md-3 col-sm-6 col-6 mt-lg-3 mb-3">
        {% observer_count country state county start_date end_date %}
      </div>
      <div class="col-md-3 col-sm-6 col-6 mt-lg-3 mb-3">
        {% duration_count country state county start_date end_date %}
      </div>
    </div>

    {% high_counts_table country state county start_date end_date %}

    {% yearlist_table country state county start_date end_date %}

    {% big_lists_table country state county start_date end_date %}

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 border-top">
        {% big_days_table country state county start_date end_date %}
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 border-top">
        {% big_week_table country state county start_date end_date %}
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 border-top">
        {% checklists_completed_table country state county start_date end_date %}
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 border-top">
        {% time_spent_birding_table country state county start_date end_date %}
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  <script type="module">
    import Autocomplete from "{% static 'js/vendor/autocomplete-1.1.38.min.js' %}";

    (function() {
       new Autocomplete(document.getElementById("autocompleteInput"), {
         highlightTyped: true,
         fixed: true,
         fullWidth: true,
         hiddenInput: true,
       });

       document.getElementById("search-button").addEventListener("click", (event) => {
          document.getElementById("autocomplete-form").submit();
       });
       document.getElementById("search-button").addEventListener("enter", (event) => {
        document.getElementById("autocomplete-form").submit();
       });
    })();
  </script>
{% endblock %}
