{% extends "page.html" %}
{% load charts i18n numbers static tables %}

{% block language_selector %}
  <li><a class="dropdown-item"
         href="{% url 'dashboards:index' %}{% querystring %}">{{ lang_name }}</a></li>
{% endblock %}

{% block title %}{% trans 'News' %}{% endblock %}

{% block content %}
  <div>
    <div class="d-flex align-items-center border-bottom pb-3 mb-4">
      <div>
        <a class="btn btn-link link-dark bg-light text-decoration-none me-2" href="{% querystring report='daily' date=today %}">
          {% trans 'Today' %}
        </a>
        <a class="btn btn-link link-dark bg-light" href="{% querystring report=report date=before %}">
          <i class="bi bi-chevron-left"></i>
        </a>
        <a class="btn btn-link link-dark bg-light me-2" href="{% querystring report=report date=after %}">
          <i class="bi bi-chevron-right"></i>
        </a>
        <div class="dropdown d-inline me-2">
          <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ report_name }}
          </button>
          <ul class="dropdown-menu">
            {% for report, name in reports %}
              <li><a class="dropdown-item" href="{% url 'dashboards:index' %}{% querystring report=report %}">{{ name }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <span class="h5">{{ interval }}</span>
      </div>
      <div class="col-4 offset-1">
        <form method="get" id="autocomplete-form">
          <input type="hidden" name="report" value="{{ report }}">
          <div class="input-group">
            <input id="autocompleteInput"
                   type="text"
                   name="code"
                   value="{{ place }}"
                   class="form-control autocomplete"
                   data-server="{% url 'dashboards:autocomplete' %}"
                   placeholder="{% trans 'Enter Country, Region or County' %}" />
            <button id="search-button" type="button" class="btn btn-primary">
              <i class="bi-search btn-primary" title="{% trans 'Search' %}"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
    {% if submissions == 0 %}
      {% include "dashboards/empty.html" %}
    {% elif report == 'daily' %}
      {% include "dashboards/daily.html" %}
    {% elif report == 'weekly' %}
      {% include "dashboards/weekly.html" %}
    {% elif report == 'monthly' %}
      {% include "dashboards/monthly.html" %}
    {% elif report == 'yearly' %}
      {% include "dashboards/yearly.html" %}
    {% endif %}
  </div>
{% endblock content %}

{% block javascript %}
  {{ block.super }}
  <script type="text/javascript"
          src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
  {{ filter.form.media.js }}
  <script type="module">
    import Autocomplete from "{% static 'js/vendor/autocomplete-1.1.38.min.js' %}";

    $(document).ready(function() {
       new Autocomplete(document.getElementById("autocompleteInput"), {
         highlightTyped: true,
         fixed: true,
         fullWidth: true,
         hiddenInput: true,
       });

       document.getElementById("search-button").addEventListener("click", (event) => {
          document.getElementById("autocomplete-form").submit();
       });
       document.getElementById("search-button").addEventListener("enter", (event) => {
        document.getElementById("autocomplete-form").submit();
       });
    });
  </script>
{% endblock %}
