{% extends "page.html" %}
{% load charts i18n numbers static tables %}

{% block language_selector %}
  <li><a class="dropdown-item"
         href="{% url 'index' %}{% querystring %}">{{ lang_name }}</a></li>
{% endblock %}

{% block title %}{% trans 'In the past week' %}{% endblock %}

{% block content %}
  <div id="page">
    <div class="border-bottom mb-4">
      <h1 class="mb-2">{% trans 'In the past week' %}</h1>
    </div>
    <div>
      <div class="container">
        <div class="row mb-2">
          <div class="col-md-3 col-sm-6 mb-2">
            {% species_count %}
          </div>
          <div class="col-md-3 col-sm-6 mb-2">
            {% checklist_count %}
          </div>
          <div class="col-md-3 col-sm-6 mb-2">
            {% observer_count %}
          </div>
          <div class="col-md-3 col-sm-6 mb-2">
            {% duration_count %}
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-12">
            {% checklist_species_chart %}
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            {% big_lists_table %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
