# Editor temp files
*~

# Ignore dot files except those required for the project
.*
!.editorconfig
!.env.example
!.envrc
!.gitignore
!.gitkeep
!.pre-commit-config.yaml

# Python
__pycache__/
*.py[co]
*.egg*

# Django
media
static
