{% load i18n %}
{% get_current_language as language_code %}
<h3 class="my-2">{{ title }}</h3>
{% if entries|length %}
<div class="row border-top">
  <div class="col">
    <table class="table">
      <thead>
        <tr>
          <th>{% trans "Date" %}</th>
          <th>{% trans "Observer" %}</th>
          <th class="text-end">{% trans "Species" %}</th>
          <th>{% trans "View" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for entry in entries %}
          <tr {% if forloop.last %}style="border-bottom-color: white"{% endif %}>
            <td>
              <span class="text-nowrap">
                {% if language_code == 'pt' %}
                  {{ entry.date|date:"j b" }}
                {% else %}
                  {{ entry.date|date:"jS M" }}
                {% endif %}
              </span>
            </td>
            <td>{{ entry.name }}</td>
            <td class="text-end">
              <span>{{ entry.species_count }}</span>
            </td>
            <td>
              <a class="dark-link"
                 href="{% url 'species:list' %}{% querystring category="species" observer=entry.observer__identifier start=entry.date finish=entry.date %}"
                 title="{% trans 'View the list of species' %}">
                <i class="bi bi-box-arrow-in-down-right"></i>
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% else %}
  <div class="row">
    <div class="col">
      <div class="py-3">{% trans 'There are no Big Days to report.' %}</div>
    </div>
  </div>
{% endif %}
