{% load i18n %}
{% get_current_language as language_code %}
<div class="row border-bottom">
  <div class="col">
    <h3 class="my-2">
      <span class="me-3">{{ title }}</span>
      <a class="dark-link"
         rel="nofollow"
         href="{% url 'checklists:list' %}{% querystring start=start|date:"Y-m-d" finish=finish|date:"Y-m-d" order="-species_count,-started" %}"
         title="{% trans 'View more' %}">
        <i class="bi bi-box-arrow-in-down-right fs-5"></i>
      </a>
    </h3>
  </div>
</div>
<div class="d-none d-lg-block">
  {% include "news/tables/big-lists-wide.html" %}
</div>
<div class="d-lg-none">
  {% include "news/tables/big-lists-narrow.html" %}
</div>
