{% load i18n %}
{% if checklists|length %}
  {% for checklist in checklists %}
    <div class="row border-top py-2">
      <div>
        <span class="me-3">
          <i class="bi bi-binoculars-fill"></i>
          <span>{{ checklist.species_count }}</span>
        </span>
        <span class="text-nowrap">
          {% if language_code == 'pt' %}
            {{ checklist.date|date:"j b" }}
          {% else %}
            {{ checklist.date|date:"jS M" }}
          {% endif %}
        </span>
      </div>
      <div>
        {% spaceless %}
          <span>{{ checklist.location.display_name }}</span>
          {% if checklist.county %}
            <span>, {{ checklist.county }}</span>
          {% endif %}
          {% if checklist.state %}
            {% if checklist.county %}<span>, </span>{% endif %}
            <span>{{ checklist.state }}</span>
          {% endif %}
          {% if show_country %}
            <span>, {{ checklist.country }}</span>
          {% endif %}
        {% endspaceless %}
      </div>
      <div>
        {{ checklist.observer.display_name }}
      </div>
      <div>
      </div>
      <div>
        <a class="dark-link"
           href="{{ checklist.url }}"
           target="_blank"
           title="{% trans 'View this checklist on eBird.org' %}">
          <i class="bi bi-box-arrow-up-right"></i>
        </a>
      </div>
    </div>
  {% endfor %}
  <div class="py-3">
    <a class="dark-link"
       href="{% url 'checklists:list' %}{% querystring start=start|date:"Y-m-d" finish=finish|date:"Y-m-d" order="-species_count,-started" %}">{% trans "View more" %}</a>
  </div>
{% else %}
  <div class="row">
    <div class="col">
      <div class="py-3">{% trans 'There are no Big Lists to report.' %}</div>
    </div>
  </div>
{% endif %}
