{% load i18n %}
{% if checklists|length %}
  <div class="row border-top">
    <div class="col">
    <table class="table">
      <thead>
        <tr>
          <th>{% trans "Observer" %}</th>
          <th>{% trans "Location" %}</th>
          <th>{% trans "Date" %}</th>
          <th>{% trans "species.singular" %}</th>
          <th>{% trans "Checklist" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for checklist in checklists %}
          <tr>
            <td>
              {{ checklist.observer.name }}
            </td>
            <td>
              <span>{{ checklist.location.name }}</span>
              <br/>
              {% spaceless %}
                {% if checklist.county %}
                  <small class="text-muted">{{ checklist.county }}, </small>
                {% endif %}
                <small class="text-muted">{{ checklist.state }}, </small>
                <small class="text-muted">{{ checklist.country }}</small>
              {% endspaceless %}
            </td>
            <td>
              <span class="text-nowrap">
                {% if language_code == 'pt' %}
                  {{ checklist.date|date:"j b" }}
                {% else %}
                  {{ checklist.date|date:"jS M" }}
                {% endif %}
              </span>
            </td>
            <td>
              <span>{{ checklist.species_count }}</span>
            </td>
            <td>
              <a class="dark-link"
                 href="{{ checklist.url }}"
                 target="_blank"
                 title="{% trans 'View this checklist on eBird.org' %}">
                <i class="bi bi-box-arrow-up-right"></i>
              </a>
            </td>
          </tr>
          {% empty %}
        {% endfor %}
      </tbody>
    </table>
    </div>
  </div>
{% else %}
  <div class="row border-top">
    <div class="col">
      <div class="py-=3">{% trans 'There are no Big Lists to report.' %}</div>
    </div>
  </div>
{% endif %}
