{% load i18n %}
{%  get_current_language as language_code %}
<h3 class="mb-3">{{ title }}</h3>
{% for checklist in checklists %}
  <div class="row mb-2">
    <div class="col-lg-2 col-xl-2">
      <a class="dark-link"
         href="{% url 'checklists:detail' checklist.identifier %}"
         title="{% trans 'View this checklist' %}">
        <span>{{ checklist.identifier }}</span>
      </a>
    </div>
    <div class="col-lg-2 col-xl-2">
      <span class="text-nowrap">
        {% if language_code == 'pt' %}
          {{ checklist.date|date:"j b Y" }}
        {% else %}
          {{ checklist.date|date:"jS M Y" }}
        {% endif %}
      </span>
    </div>
    <div class="col-lg-5 col-xl-5">
      <span>{{ checklist.location.name }}</span>
      <br/>
      {% spaceless %}
        {% if checklist.area %}
          <small class="text-muted">{{ checklist.area }}</small>
        {% endif %}
        {% if checklist.county %}
          {% if checklist.area %}<span>, </span>{% endif %}
          <small class="text-muted">{{ checklist.county }}</small>
        {% endif %}
        {% if checklist.district %}
          {% if checklist.area or checklist.county %}<span>, </span>{% endif %}
          <small class="text-muted">{{ checklist.district }}</small>
        {% endif %}
        {% if checklist.region %}
          {% if checklist.area or checklist.county or checklist.district %}<span>, </span>{% endif %}
          <small class="text-muted">{{ checklist.region }}</small>
        {% endif %}
        {% if multiple_countries %}
          <small class="text-muted">, {{ checklist.country }}</small>
        {% endif %}
      {% endspaceless %}
    </div>
    <div class="col-lg-2 col-xl-2">
      {{ checklist.observer }}
    </div>
    <div class="col-lg-1 col-xl-1">
       <span class="bi bi-binoculars-fill me-1"
             title="{% trans 'Number of species reported' %}"></span>
       <span>{{ checklist.species_count }}</span>
    </div>
  </div>
{% empty %}
  <div class="row">
    <div>
      <span>{% trans 'There are no Big Lists to report.' %}</span>
    </div>
  </div>
{% endfor %}
