{% load i18n %}
{% if checklists|length %}
  {% for checklist in checklists %}
    <div class="row border-top py-2">
      <div>
        <span class="me-2">{% spaceless %}
          <i class="bi bi-binoculars-fill me-1"></i>
          <span>{{ checklist.species_count }}</span>
        {% endspaceless %}</span>
        <span class="text-nowrap">
          {% if language_code == 'pt' %}
            {{ checklist.date|date:"j b" }}
          {% else %}
            {{ checklist.date|date:"jS M" }}
          {% endif %}
        </span>
      </div>
      <div>{% spaceless %}
          <span>{{ checklist.location.name }}</span>
          {% if checklist.county %}
            <span>, {{ checklist.county }}</span>
          {% endif %}
          {% if checklist.state %}
            {% if checklist.county %}<span>, </span>{% endif %}
            <span>{{ checklist.state }}</span>
          {% endif %}
          <span>, {{ checklist.country }}</span>
      {% endspaceless %}</div>
      <div>
        <span class="me-3">{{ checklist.observer.name }}</span>
        <a class="dark-link"
           href="{{ checklist.url }}"
           target="_blank"
           title="{% trans 'View this checklist on eBird.org' %}">
          <i class="bi bi-box-arrow-up-right"></i>
        </a>
      </div>
    </div>
  {% endfor %}
{% else %}
  <div class="row">
    <div class="col">
      <div class="py-3">{% trans 'There are no Big Lists to report.' %}</div>
    </div>
  </div>
{% endif %}
