{% load i18n %}
<h3>{% spaceless %}
  {% if interval == "week" %}
    {% trans 'Big Week' %}
  {% elif interval == "month" %}
    {% trans 'Big Month' %}
  {% else %}
    {% trans 'Species seen' %}
  {% endif %}
{% endspaceless %}</h3>
<table class="table">
  <thead>
    <tr>
      <th>{% trans "Observer" %}</th>
      <th class="text-end">{% trans "No. of Species" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for record in records %}
      <tr>
        <td>{{ record.byname|default:record.name }}</td>
        <td class="text-end">{{ record.count }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="2">{% trans 'There are no species totals to report.' %}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
