{% load i18n %}
<h3>{% trans "Time spent birding" %}</h3>
<table class="table">
  <thead>
    <tr>
      <th>{% trans "Observer" %}</th>
      <th class="text-end">{% trans "Duration" %}</th>
      <th>{% trans "View" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for record in records %}
      <tr>
        <td>{{ record.byname|default:record.name }}</td>
        <td class="text-end">{% spaceless %}
          {% with hours=record.hours minutes=record.minutes %}
            {% blocktrans %}Duration: {{ hours }} hours {{ minutes }} minutes{% endblocktrans %}
          {% endwith %}
        {% endspaceless %}</td>
        <td>
          <a class="dark-link"
             href="{% url 'checklists:list' %}{% querystring observer=record.identifier start=start|date:"Y-m-d" finish=finish|date:"Y-m-d" %}"
             title="{% trans 'View the checklists' %}">
            <i class="bi bi-box-arrow-in-down-right"></i>
          </a>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="2">{% trans 'Nobody has been out birding.' %}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
