{% load i18n %}
<h3>{% trans 'Species seen' %}</h3>
<table class="table">
  <thead>
    <tr>
      <th>{% trans "Observer" %}</th>
      <th class="text-end">{% trans "No. of Species" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for record in records %}
      <tr>
        <td>{{ record.byname|default:record.name }}</td>
        <td class="text-end">{{ record.count }}</td>
      </tr>
      {% empty %}
      <tr>
        <td>{% trans 'Your name here' %}</td>
        <td>?</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
