{% load i18n %}
<h3>{% trans "Time spent birding" %}</h2>
<table class="table">
  {% for record in records %}
    <tr>
      <td>{{ record.byname|default:record.name }}</td>
      <td class="text-end">{% spaceless %}
        {% with hours=record.hours minutes=record.minutes %}
          {% blocktrans %}Duration: {{ hours }} hours {{ minutes }} minutes{% endblocktrans %}
        {% endwith %}
      {% endspaceless %}</td>
    </tr>
  {% empty %}
    <tr>
      <td>{% trans 'Your name here' %}</td>
      <td>?</td>
    </tr>
  {% endfor %}
</table>
