{% load i18n %}
{% if observations|length %}
  {% for observation in observations %}
    {% ifchanged observation.date %}
      <div class="row">
        <div class="col px-3 py-2 {% if not forloop.first %}border-top{% endif %}">
          <span class="text-nowrap">
            {% if language_code == 'pt' %}
              <h4 class="p-0 m-0 fs-6">{{ observation.date|date:"j b Y" }}</h4>
            {% else %}
              <h4 class="p-0 m-0 fs-6">{{ observation.date|date:"jS M Y" }}</h4>
            {% endif %}
          </span>
        </div>
      </div>
      {% endifchanged %}
      <div class="row">
        <div class="col px-3 py-2 border-top">
          <div class="d-flex flex-row flex-wrap">{% spaceless %}
            <div class="text-nowrap me-2">{% if observation.count %}{{ observation.count }}{% else %}X{% endif %},</div>
            <div class="text-nowrap me-2">{{ observation.species.get_common_name }}</div>
            <div class="text-nowrap fst-italic">({{ observation.species.scientific_name }})</div>
          {% endspaceless %}</div>
          <div>{% spaceless %}
              <span>{{ observation.location.display_name }}</span>
              {% if observation.county %}
                <span>, </span><span>{{ observation.county }}</span>
              {% endif %}
              {% if observation.state %}
                {% if observation.county %}<span>, </span>{% endif %}
                <span>{{ observation.state }}</span>
              {% endif %}
              {% if show_country %}
                <span>, {{ observation.country }}</span>
              {% endif %}
          {% endspaceless %}</div>
          <div>
            <span class="me-3">{{ observation.observer.display_name }}</span>
            <a class="dark-link"
               href="{{ observation.checklist.url }}"
               target="_blank"
               title="{% trans 'View this checklist on eBird.org' %}">
              <i class="bi bi-box-arrow-up-right"></i>
            </a>
          </div>
          {% if not observation.approved %}
            <div>
              <i class="bi bi-flag-fill text-danger me-1"></i>
              <span>{{ observation.get_reason }}</span>
            </div>
          {% endif %}
        </div>
      </div>
  {% endfor %}
{% else %}
  <div class="row">
    <div class="col">
      <div class="py-3">{% trans "No high counts were found." %}</div>
    </div>
  </div>
{% endif %}
