{% load i18n %}
{% get_current_language as language_code %}
<h3 class="mb-3">{% trans "High Counts" %}</h3>
<div class="row py-2">
  <div class="col-lg-1">
    <strong>{% trans "Date" %}</strong>
  </div>
  <div class="col-lg-3">
    <strong>{% trans "Species (Count)" %}</strong>
  </div>
  <div class="col-lg-4">
    <strong>{% trans "Location" %}</strong>
  </div>
  <div class="col-lg-3">
    <strong>{% trans "Observer" %}</strong>
  </div>
  <div class="col-lg-1">
    <strong>{% trans "Checklist" %}</strong>
  </div>
</div>
{% for observation in observations %}
  <div class="row {% ifchanged observation.date %}border-top{% endifchanged %} py-2">
    <div class="col-lg-1">
      {% ifchanged observation.date %}
        <div class="calendar-date">
          <div class="month" style="background-color: #154ed8">
            {% if language_code == 'pt' %}
              {{ observation.date|date:"b" }}
            {% else %}
              {{ observation.date|date:"M" }}
            {% endif %}
          </div>
          <div class="day">{{ observation.date|date:"j" }}</div>
        </div>
      {% endifchanged %}
    </div>
    <div class="col-lg-3">
      <div>
        <span>{{ observation.species.get_common_name }} ({{ observation.count }})</span>
        {% if not observation.approved %}
          <i class="bi bi-flag-fill text-danger ms-1" title="{{ observation.get_reason }}"></i>
        {% endif %}
      </div>
      <div>
        <small class="text-muted fst-italic">{{ observation.species.scientific_name }}</small>
      </div>
    </div>
    <div class="col-lg-4">
      <div>{{ observation.location.display_name }}</div>
      <div>{% spaceless %}
        {% if observation.county %}
          <small class="text-muted">{{ observation.county }}</small>
        {% endif %}
        {% if observation.state %}
          {% if observation.county %}<span>, </span>{% endif %}
          <small class="text-muted">{{ observation.state }}</small>
        {% endif %}
        {% if show_country %}
          <small class="text-muted">, {{ observation.country }}</small>
        {% endif %}
      {% endspaceless %}</div>
    </div>
    <div class="col-lg-3">
      <span>{{ observation.observer }}</span>
    </div>
    <div class="col-lg-1">
      <a class="dark-link"
         href="{{ observation.checklist.url }}"
         title="{% trans 'View this checklist on eBird.org' %}">
        <i class="bi bi-box-arrow-up-right"></i>
      </a>
    </div>
  </div>
  {% empty %}
  <div class="row">
    <div class="py-3">
      <span>{% trans "No high counts were made this week." %}</span>
    </div>
  </div>
{% endfor %}
