{% load i18n %}
{% get_current_language as language_code %}
<h3 class="mb-3">{% trans "High Counts" %}</h3>
<div class="row py-2">
  <div class="col-lg-3">
    <strong>{% trans "Species (Count)" %}</strong>
  </div>
  <div class="col-lg-1">
    <strong>{% trans "Date" %}</strong>
  </div>
  <div class="col-lg-4">
    <strong>{% trans "Location" %}</strong>
  </div>
  <div class="col-lg-3">
    <strong>{% trans "Observer" %}</strong>
  </div>
  <div class="col-lg-1">
    <strong>{% trans "Checklist" %}</strong>
  </div>
</div>
{% for observation in observations %}
  <div class="row border-top py-2">
    <div class="col-lg-3">
      <div>
        {{ observation.species.get_common_name }} ({{ observation.count }})
        {% if observation.reviewed %}
          {% if observation.approved is None %}
            <i class="bi bi-flag-fill text-warning" title="{{ observation.get_reason }}"></i>
          {% elif observation.approved is False %}
            <i class="bi bi-flag-fill text-danger" title="{{ observation.get_reason }}"></i>
          {% else %}
            <i class="bi bi-flag-fill text-success" title="{{ observation.get_reason }}"></i>
          {% endif %}
        {% endif %}
      </div>
      <div>
        <small class="text-muted fst-italic">{{ observation.species.scientific_name }}</small>
      </div>
    </div>
    <div class="col-lg-1">
      <span class="text-nowrap">
        {% if language_code == 'pt' %}
          {{ observation.date|date:"j b" }}
        {% else %}
          {{ observation.date|date:"jS M" }}
        {% endif %}
      </span>
    </div>
    <div class="col-lg-4">
      <div>{{ observation.location.display_name }}</div>
      <div>{% spaceless %}
        {% if observation.county %}
          <small class="text-muted">{{ observation.county }}</small>
        {% endif %}
        {% if observation.state %}
          {% if observation.county %}<span>, </span>{% endif %}
          <small class="text-muted">{{ observation.state }}</small>
        {% endif %}
        {% if show_country %}
          <small class="text-muted">, {{ observation.country }}</small>
        {% endif %}
      {% endspaceless %}</div>
    </div>
    <div class="col-lg-3">
      <span>{{ observation.observer }}</span>
    </div>
    <div class="col-lg-1">
      <a class="dark-link"
         href="{% url 'checklists:detail' observation.checklist.identifier %}"
         title="{% trans 'View the checklist' %}">
        <span>{{ observation.checklist.identifier }}</span>
      </a>
    </div>
  </div>
  {% empty %}
  <div class="row">
    <div class="py-3">
      <span>{% trans "No high counts were made this week." %}</span>
    </div>
  </div>
{% endfor %}
