{% load i18n %}
{% if observations|length %}
  <div class="row">
    <div class="col">
      <table class="table table-borderless">
        <thead>
        <tr>
          <th>{% trans "Date" %}</th>
          <th>{% trans "Count" %}</th>
          <th>{% trans "species.singular" %}</th>
          <th>{% trans "Location" %}</th>
          <th>{% trans "Observer" %}</th>
          <th>{% trans "Checklist" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for observation in observations %}
          <tr {% ifchanged observation.date %}class="border-top"{% endifchanged %}>
            <td>
              {% ifchanged observation.date %}
                <div class="calendar-date">
                  <div class="month">
                    {% if language_code == 'pt' %}
                      {{ observation.date|date:"b" }}
                    {% else %}
                      {{ observation.date|date:"M" }}
                    {% endif %}
                  </div>
                  <div class="day">{{ observation.date|date:"j" }}</div>
                </div>
              {% endifchanged %}
            </td>
            <td class="text-end">{% if observation.count %}{{ observation.count }}{% else %}X{% endif %}</td>
            <td>
              <span>{{ observation.species.get_common_name }}</span>
              <br>
              <small
                class="text-muted fst-italic">{{ observation.species.scientific_name }}</small>
            </td>
            <td>
              <div>{{ observation.location.name }}</div>
              <div>{% spaceless %}
                {% if observation.county %}
                  <small class="text-muted">{{ observation.county }}, </small>
                {% endif %}
                <small class="text-muted">{{ observation.state }}, </small>
                <small class="text-muted">{{ observation.country }}</small>
              {% endspaceless %}</div>
            </td>
            <td>{{ observation.observer.name }}</td>
            <td>
              <a class="dark-link"
                 href="{{ observation.checklist.url }}"
                 target="_blank"
                 title="{% trans 'View this checklist on eBird.org' %}">
                <i class="bi bi-box-arrow-up-right"></i>
              </a>
            </td>
          </tr>
          {% if not observation.approved %}
            <tr class="border-top-0">
              <td></td>
              <td></td>
              <td colspan="4" class="pt-0">
                <i class="bi bi-flag-fill text-danger me-1"></i>
                <span class="fst-italic">{{ observation.get_reason }}</span>
              </td>
            </tr>
          {% endif %}
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% else %}
  <div class="row">
    <div class="col">
      <div class="py-3">{% trans "No high counts were found." %}</div>
    </div>
  </div>
{% endif %}
