{% load i18n %}
<div class="row border-bottom">
  <div class="col px-3 py-2">
    <h3 class="p-0 m-0">{% trans 'Big Month' %}</h3>
  </div>
</div>
{% if records|length %}
  <div class="row mb-lg-4">
    <div class="col">
      <table class="table mb-0">
        <thead>
          <tr>
            <th>{% trans "Observer" %}</th>
            <th class="text-end">{% trans "species.plural" %}</th>
            <th>{% trans "View" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for record in records %}
            <tr>
              <td>{{ record.name }}</td>
              <td class="text-end">{{ record.count }}</td>
              <td>
                <a class="dark-link"
                   rel="nofollow"
                   href="{% url 'species:list' %}{% querystring category="species" observer=record.identifier %}"
                   title="{% trans 'View the list of species' %}">
                  <i class="bi bi-box-arrow-in-down-right"></i>
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% else %}
  <div class="row mb-lg-4">
    <div class="col">
      <div class="py-3">{% trans 'There are no species totals to report.' %}</div>
    </div>
  </div>
{% endif %}
