{% load i18n %}
<div class="row">
  <div class="col px-3 py-2">
    <h3 class="p-0 m-0">{% trans "Time spent birding" %}</h3>
  </div>
</div>
{% if records|length %}
  <div class="row border-top">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th>{% trans "Observer" %}</th>
            <th class="text-end">{% trans "Duration" %}</th>
            <th>{% trans "View" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for record in records %}
            <tr {% if forloop.last %}style="border-bottom-color: white"{% endif %}>
              <td>{{ record.byname|default:record.name }}</td>
              <td class="text-end">{% spaceless %}
                {% with hours=record.hours minutes=record.minutes %}
                  {% blocktrans %}Duration: {{ hours }} hours {{ minutes }} minutes{% endblocktrans %}
                {% endwith %}
              {% endspaceless %}</td>
              <td>
                <a class="dark-link"
                   href="{% url 'checklists:list' %}{% querystring observer=record.identifier start=start|date:"Y-m-d" finish=finish|date:"Y-m-d" %}"
                   title="{% trans 'View the checklists' %}">
                  <i class="bi bi-box-arrow-in-down-right"></i>
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% else %}
  <div class="row border-top">
    <div class="col">
      <div class="py-3">{% trans 'Nobody has been out birding.' %}</div>
    </div>
  </div>
{% endif %}
