{% load i18n %}
{% if observations|length %}
  {% for observation in observations %}
    <div class="row border-bottom py-2">
      <div>
        <span>{% if observation.count %}{{ observation.count }}{% else %}X{% endif %}, </span>
        <span class="me-2">{{ observation.species.get_common_name }}</span>
        <span class="fst-italic">({{ observation.species.scientific_name }})</span>
      </div>
      <div>
        <span class="text-nowrap me-3">
          {% if language_code == 'pt' %}
            {{ observation.date|date:"j F" }}{% if observation.time %}, {{ observation.time }}{% endif %}
          {% else %}
            {{ observation.date|date:"jS F" }}{% if observation.time %}, {{ observation.time }}{% endif %}
          {% endif %}
        </span>
      </div>
      <div>{% spaceless %}
          <span>{{ observation.location.name }}</span>
          {% if observation.county %}
            <span>, </span><span>{{ observation.county }}</span>
          {% endif %}
          {% if observation.state %}
            {% if observation.county %}<span>, </span>{% endif %}
            <span>{{ observation.state }}</span>
          {% endif %}
          <span>, {{ observation.country }}</span>
      {% endspaceless %}</div>
      <div>
        <span class="me-3">{{ observation.observer.name }}</span>
        <a class="dark-link"
           href="{{ observation.checklist.url }}"
           target="_blank"
           title="{% trans 'View this checklist on eBird.org' %}">
          <i class="bi bi-box-arrow-up-right"></i>
        </a>
      </div>
      {% if not observation.approved %}
        <div>
          <i class="bi bi-flag-fill text-danger me-1"></i>
          <span>{{ observation.get_reason }}</span>
        </div>
      {% endif %}
    </div>
  {% endfor %}
{% else %}
  <div class="row">
    <div class="col">
      <div class="py-3">{% trans "No species were added to the year list." %}</div>
    </div>
  </div>
{% endif %}
