{% load i18n %}
{% get_current_language as language_code %}
<div class="row border-bottom">
  <div class="col">
    <h3 class="my-2">
      <span class="me-3">{% trans 'Year List' %}</span>
      <a class="dark-link"
         rel="nofollow"
         href="{% url 'species:list' %}{% querystring category="species" %}"
         title="{% trans 'View Yearlist' %}">
        <i class="bi bi-box-arrow-in-down-right fs-5"></i>
      </a>
    </h3>
  </div>
</div>
<div class="d-none d-lg-block">
  {% include "news/tables/year-list-wide.html" %}
</div>
<div class="d-lg-none">
  {% include "news/tables/year-list-narrow.html" %}
</div>
<div class="row border-bottom mb-lg-4">
  <div class="col">
    <div class="p-2">
      <strong>{% trans "species.plural" %}: {{ total }}</strong>
    </div>
  </div>
</div>
