{% load i18n %}
{% get_current_language as language_code %}
<h3 class="mb-3">{{ title }}</h3>
<div class="d-none d-lg-block">
  {% include "news/tables/yearlist-wide.html" %}
</div>
<div class="d-lg-none">
  {% include "news/tables/yearlist-narrow.html" %}
</div>
<div class="my-3">
  <span class="h5 mb-3">{% trans 'No. of Species' %}: {{ total }}</span>
</div>
<div class="mb-3">
  <a href="{% url 'species:list' %}{% querystring state=state county=county category="species" start=start_year finish=end_year code=None search=None week=None %}"
     class="dark-link">{% trans 'View Yearlist' %}</a>
</div>
