{% load i18n %}
{% get_current_language as language_code %}
<h3 class="mb-3">{{ title }}</h3>
<div class="row py-2 d-none d-lg-flex">
  <div class="col-lg-3 col-xl-3">
    <strong>{% trans "Species" %}</strong>
  </div>
  <div class="col-lg-1 col-xl-1">
    <strong>{% trans "Count" %}</strong>
  </div>
  <div class="col-lg-1">
    <strong>{% trans "Date" %}</strong>
  </div>
  <div class="col-lg-3">
    <strong>{% trans "Location" %}</strong>
  </div>
  <div class="col-lg-3 col-xl-3">
    <strong>{% trans "Observer" %}</strong>
  </div>
  <div class="col-lg-1 col-xl-1">
    <strong>{% trans "Checklist" %}</strong>
  </div>
</div>
{% for observation in observations %}
  <div class="row border-top d-none d-lg-flex py-2">
    <div class="col-lg-3 col-xl-3">
      <div>
        <span>{{ observation.species.get_common_name }}</span>
        {% if not observation.approved %}
          <i class="bi bi-flag-fill text-danger ms-1" title="{{ observation.get_reason }}"></i>
        {% endif %}
      </div>
      <div>
        <small class="text-muted fst-italic">{{ observation.species.scientific_name }}</small>
      </div>
    </div>
    <div class="col-lg-1 col-xl-1 text-end">
      <span>{% if observation.count %}{{ observation.count }}{% else %}X{% endif %}</span>
    </div>
    <div class="col-lg-1">
      <span class="text-nowrap">
        {% if language_code == 'pt' %}
          {{ observation.date|date:"j b" }}
        {% else %}
          {{ observation.date|date:"jS M" }}
        {% endif %}
      </span>
    </div>
    <div class="col-lg-3">
      <div>{{ observation.location.display_name }}</div>
      <div>{% spaceless %}
        {% if observation.county %}
          <small class="text-muted">{{ observation.county }}</small>
        {% endif %}
        {% if observation.state %}
          {% if observation.county %}<span>, </span>{% endif %}
          <small class="text-muted">{{ observation.state }}</small>
        {% endif %}
        {% if show_country %}
          <small class="text-muted">, {{ observation.country }}</small>
        {% endif %}
      {% endspaceless %}</div>
    </div>
    <div class="col-lg-3 col-xl-3">
      <span>{{ observation.observer }}</span>
    </div>
    <div class="col-lg-1 col-xl-1">
      <a class="dark-link"
         href="{{ observation.checklist.url }}"
         target="_blank"
         title="{% trans 'View this checklist on eBird.org' %}">
        <i class="bi bi-box-arrow-up-right"></i>
      </a>
    </div>
  </div>
  <div class="row border-top d-lg-none py-2">
    <div>
      <span>{{ observation.count }}, </span>
      <span>{{ observation.species.get_common_name }} </span>
      <span class="fst-italic">({{ observation.species.scientific_name }})</span>
    </div>
    {% if not observation.approved %}
      <div>
        <i class="bi bi-flag-fill text-danger me-1"></i>
        <span>{{ observation.get_reason }}"></span>
      </div>
    {% endif %}
    <div>
      <span>
        {% if language_code == 'pt' %}
          {{ observation.date|date:"j F" }}
        {% else %}
          {{ observation.date|date:"jS F" }}
        {% endif %}
      </span>
    </div>
    <div>{% spaceless %}
        <span>{{ observation.location.display_name }}</span>
        {% if observation.county %}
          <span>, </span><span class="text-muted">{{ observation.county }}</span>
        {% endif %}
        {% if observation.state %}
          {% if observation.county %}<span>, </span>{% endif %}
          <span class="text-muted">{{ observation.state }}</span>
        {% endif %}
        {% if show_country %}
          <span class="text-muted">, {{ observation.country }}</span>
        {% endif %}
    {% endspaceless %}</div>
    <div>
      <span class="me-3">{{ observation.observer }}</span>
      <a class="dark-link"
         href="{{ observation.checklist.url }}"
         target="_blank"
         title="{% trans 'View this checklist on eBird.org' %}">
        <i class="bi bi-box-arrow-up-right"></i>
      </a>
    </div>
  </div>
  {% empty %}
  <div class="row">
    <div class="py-3">
      <span>{% trans "No new species were seen this week." %}</span>
    </div>
  </div>
{% endfor %}
<div class="my-3">
  <span class="h5 mb-3">{% trans 'No. of Species' %}: {{ total }}</span>
</div>
<div class="mb-3">
  <a href="{% url 'species:list' %}{% querystring category="species" start=start_year finish=end_year week=None %}" class="dark-link">{% trans 'View Yearlist' %}</a>
</div>
