{% load i18n static %}
<div class="container-fluid">
  <div class="row p-3 border-top">
    <div class="col-md-6 col-lg-4 mb-3">
      <img src="{% static 'images/ebirders.png' %}"alt="eBirders Portugal Logo">
    </div>
    <div class="col-md-3 col-lg-4">
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a href="{% url 'about' %}" class="nav-link p-0 fs-5 text-body-secondary">{% translate "About" %}</a>
        </li>
        <li class="nav-item mb-2">
          <a href="{% url 'updates:list' %}" class="nav-link p-0 fs-5 text-body-secondary">{% translate "What's New" %}</a>
        </li>
        <li class="nav-item mb-2">
          <a href="{% url 'contact' %}" class="nav-link p-0 fs-5 text-body-secondary">{% trans "Contact" %}</a>
        </li>
      </ul>
    </div>
    <div class="col-md-3 col-lg-4">
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a href="{% url 'events:list' %}" class="nav-link p-0 fs-5 text-body-secondary">{% trans "Moderation History" %}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="text-body-secondary text-center">© 2025 eBirders Portugal</div>
</div>
