{% load i18n %}
<div class="container">
  <div class="row row-cols-3 pt-5 pb-sm-3 border-top">
    <div class="col mb-3">
      <div class="fs-6">{% trans "Stop reading and..." %}</div>
      <div class="fs-1">{% trans "Go Birding" %}</div>
    </div>
    <div class="col mb-3">
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a href="{% url 'about' %}" class="nav-link p-0 fs-5 text-body-secondary">{% translate "About" %}</a>
        </li>
        <li class="nav-item mb-2">
          <a href="{% url 'updates:list' %}" class="nav-link p-0 fs-5 text-body-secondary">{% translate "What's New" %}</a>
        </li>
        <li class="nav-item mb-2">
          <a href="{% url 'contact' %}" class="nav-link p-0 fs-5 text-body-secondary">{% trans "Contact" %}</a>
        </li>
      </ul>
    </div>
    <div class="col mb-3">
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a href="{% url 'events:list' %}" class="nav-link p-0 fs-5 text-body-secondary">{% trans "Moderation History" %}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="text-body-secondary mb-3">© 2025 eBirders Portugal</div>
</div>
