<table>
  <thead>
    <tr>
      <th style="text-align: left">Name</th>
      <th style="text-align: left">No. of characters</th>
      <th style="text-align: left">No. of observations</th>
    </tr>
  </thead>
  <tbody>
    {% for species in species %}
      <tr>
        <td style="text-align: left">{{ species.common_name }}</td>
        <td style="text-align: left">{{ species.length }}</td>
        <td style="text-align: right">{{ species.observed }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
