/* highlightTyped use mark */
.autocomplete-menu mark {
  text-decoration: underline;
  background: none;
  color: currentColor;
  padding: 0;
}

/* Optional nicer scrollbars */
.autocomplete-menu {
  --scroller-color: 0, 0%;
  --scroller-color-lightness: 80%;
  --scroller-bg-lightness: 90%;
  --scroller-hover-factor: 0.8;
  --scroller-thumb: hsl(var(--scroller-color), var(--scroller-color-lightness));
  /* Replicate hover for webkit */
  --scroller-thumb-hover: hsl(var(--scroller-color), calc(var(--scroller-color-lightness) * var(--scroller-hover-factor)));
  --scroller-background: hsl(var(--scroller-color), calc(var(--scroller-bg-lightness)));
  scrollbar-color: var(--scroller-thumb) var(--scroller-background);
  scrollbar-width: thin;
}

.autocomplete-menu::-webkit-scrollbar {
  width: 8px;
}

.autocomplete-menu::-webkit-scrollbar-track {
  background: var(--scroller-background);
}

.autocomplete-menu::-webkit-scrollbar-thumb {
  background: var(--scroller-thumb);
}

.autocomplete-menu::-webkit-scrollbar-thumb:hover {
  background: var(--scroller-thumb-hover);
}

.select2-container .select2-selection--single {
  height: 32px !important;
  padding-top: 0.25rem !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding: 0;
}

.select2-container--default.select2-container .select2-selection--multiple {
  border-color: #dee2e6 !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border-color: #dee2e6 !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #f0f0ff !important;
}

.select2-selection__clear {
  margin-right: 4px;
}

.select2-container {
    width: 100% !important;
    min-width: 10em !important;
}

.select2-container .select2-results__options {
    max-height: 100vh;
    overflow: scroll;
}

a.dark-link {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    text-underline-offset: 0.2rem;
    opacity: 75%;
  }
}

div.show-if-wide {
  display: block;
}

div.show-if-narrow {
  display: none;
}

@media only screen and (max-width: 768px) {
  div.show-if-wide {
    display: none;
  }
  div.show-if-narrow {
    display: block;
  }
}

.overlay-hover {
  background: inherit;
  &:hover {
    background: #f5f5f5;
  }
}

.calendar-date {
  width: 3rem;
  min-width: 3rem;
  text-align: center;
  font-size: 1rem;
  margin-top: 0;
}

.calendar-date .month {
  border: 1px solid #dee2e6 !important;
  border-bottom: 0 !important;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  color: white;
}

.calendar-date .day {
  border: 1px solid #dee2e6 !important;
  border-top: 0 !important;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

a[aria-expanded=false] .filter-expanded {
  display: none;
}

a[aria-expanded=true] .filter-collapsed {
  display: none;
}
