/* highlightTyped use mark */
.autocomplete-menu mark {
  text-decoration: underline;
  background: none;
  color: currentColor;
  padding: 0;
}

/* Optional nicer scrollbars */
.autocomplete-menu {
  --scroller-color: 0, 0%;
  --scroller-color-lightness: 80%;
  --scroller-bg-lightness: 90%;
  --scroller-hover-factor: 0.8;
  --scroller-thumb: hsl(var(--scroller-color), var(--scroller-color-lightness));
  /* Replicate hover for webkit */
  --scroller-thumb-hover: hsl(var(--scroller-color), calc(var(--scroller-color-lightness) * var(--scroller-hover-factor)));
  --scroller-background: hsl(var(--scroller-color), calc(var(--scroller-bg-lightness)));
  scrollbar-color: var(--scroller-thumb) var(--scroller-background);
  scrollbar-width: thin;
}

.autocomplete-menu::-webkit-scrollbar {
  width: 8px;
}

.autocomplete-menu::-webkit-scrollbar-track {
  background: var(--scroller-background);
}

.autocomplete-menu::-webkit-scrollbar-thumb {
  background: var(--scroller-thumb);
}

.autocomplete-menu::-webkit-scrollbar-thumb:hover {
  background: var(--scroller-thumb-hover);
}

.select2-container .select2-selection--single {
  height: 36px !important;
}

.select2-selection__clear {
  margin-right: 4px;
}

.select2-container {
    width: 100% !important;
    min-width: 10em !important;
}

.hide {
  display:none
}

a.dark-link {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    text-underline-offset: 0.2rem;
    opacity: 75%;
  }
}

.species-count {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  text-align: center;
  line-height: 2rem;
  border-radius: 50% !important;
}

div.show-if-wide {
  display: block;
}

div.show-if-narrow {
  display: none;
}

@media only screen and (max-width: 768px) {
  div.show-if-wide {
    display: none;
  }
  div.show-if-narrow {
    display: block;
  }
}
