{% load i18n static %}
{% get_current_language as language_code %}
{% get_language_info for language_code as lang %}
<nav class="navbar navbar-expand-lg align-items-center">
  <div class="container-fluid">
    <a class="navbar-brand mb-2 me-2" href="{% url 'index' %}">
     <img src="{% static 'images/header-logo.png' %}" alt="logo">
    </a>
    <a class="link-dark text-decoration-none fs-5 me-5 fw-medium" href="{% url 'index' %}">
     eBirders Portugal
    </a>
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 fs-5">
      <li class="nav-item">
        <a class="nav-link disabled"
           rel="nofollow"
           data-href="{% url 'news:index' %}"
           href="#">{% trans 'News' %}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled"
           rel="nofollow"
           data-href="{% url 'checklists:list' %}"
           href="#">{% trans 'Checklists' %}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled"
           rel="nofollow"
           data-href="{% url 'observations:list' %}"
           href="#">{% trans 'Observations' %}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled"
           rel="nofollow"
           data-href="{% url 'species:list' %}"
           href="#">{% trans 'species.plural' %}</a>
      </li>
      </ul>
      <div class="nav-item ms-auto fs-5 me-4">
        <div class="dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            {{ lang.name_local }}
          </a>
          <ul class="dropdown-menu">
            {% for url, language in translations %}
              <li><a class="dropdown-item disabled"
                     rel="nofollow"
                     data-href="{{ url }}{% querystring %}"
                     href="#">{{ language }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
