{% load i18n %}
{% for event in page_obj %}
  {% with observation=event.observation %}
    <div class="row {% if not forloop.first %}border-top{% endif %} py-2">
      <div>
        {% if language_code == 'pt' %}
          <a class="dark-link"
             href="{% querystring start=observation.date|date:'Y-m-d' finish=observation.date|date:'Y-m-d' %}"
             title="{% trans 'Show observations for this date' %}">{{ observation.date|date:"j b Y" }}</a>{% if observation.time %}, {{ observation.time }}{% endif %}
        {% else %}
          <a class="dark-link"
             href="{% querystring start=observation.date|date:'Y-m-d' finish=observation.date|date:'Y-m-d' %}"
             title="{% trans 'Show observations for this date' %}">{{ observation.date|date:"jS M Y" }}</a>{% if observation.time %}, {{ observation.time }}{% endif %}
        {% endif %}
      </div>
      <div>
        <span>{% if observation.count %}{{ observation.count }}{% else %}X{% endif %}, </span>
        <a class="dark-link me-1"
           href="{% querystring species=observation.species.species_code %}"
           title="{% trans 'Show observations of this species' %}">
          {{ observation.species.get_common_name }}
        </a>
        <span class="fst-italic">({{ observation.species.scientific_name }})</span>
      </div>
      <div>{% spaceless %}
        <a class="dark-link"
           href="{% querystring location=observation.location.identifier %}"
           title="{% trans 'Show observations for this location' %}">{{ observation.location.display_name }}</a>
        {% if observation.county %}
          <span>, </span>
          <a class="dark-link text-muted"
               href="{% querystring county=observation.county.code location=None %}"
               title="{% trans 'Show observations for this county' %}">{{ observation.county.name }}</a>
        {% endif %}
        {% if observation.state %}
          {% if observation.county %}
            <span>, </span>
          {% endif %}
          <a class="dark-link text-muted"
                 href="{% querystring state=observation.state.code county=None location=None %}"
                 title="{% trans 'Show observations for this state' %}">{{ observation.state.name }}</a>
        {% endif %}
        {% if show_country %}
          <a class="dark-link text-muted"
             href="{% querystring country=observation.country.code state=None county=None location=None %}"
             title="{% trans 'Show observations for this country' %}">{{ observation.country }}</a>
        {% endif %}
      {% endspaceless %}</div>
      <div>
        <a class="dark-link me-3"
           href="{% querystring observer=observation.observer.identifier %}"
           title="{% trans 'Show observations from this observer' %}">{{ observation.observer.display_name }}</a>
      </div>
      <div>
        {% if observation.audio %}
          <i class="bi bi-volume-up-fill me-1"></i>
        {% endif %}
        {% if observation.photo %}
          <i class="bi bi-camera-fill me-1"></i>
        {% endif %}
        {% if observation.video %}
          <i class="bi bi-camera-video-fill me-1"></i>
        {% endif %}
        <a class="dark-link"
           href="{{ observation.checklist.url }}"
           target="_blank"
           title="{% trans 'View this checklist on eBird.org' %}">
          <i class="bi bi-box-arrow-up-right"></i>
        </a>
      </div>
      <div class="mt-1">
        <i class="bi bi-flag-fill text-danger me-1"></i>
        <span>{{ observation.get_reason }}</span>
      </div>
      {% if observation.reviewed %}
        <div class="mt-1">
          <i class="bi bi-flag-fill {% if observation.approved %}text-success{% else %}text-danger{% endif %} me-1"></i>
          <span>{{ event.created|date:"Y-m-d" }} - {{ observation.get_decision }}</span>
        </div>
      {% endif %}
    </div>
  {% endwith %}
{% endfor %}
