{% extends "page.html" %}
{% load i18n static %}

{% block title %}Checklist {{ checklist.identifier }}{% endblock %}

{% block content %}
  <div class="mx-2">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{{ request.META.HTTP_REFERER }}" class="dark-link">Checklists</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          <span class="me-2">{{ checklist.identifier }}</span>
        </li>
      </ol>
    </nav>

    <div class="fs-4 text-muted">
      {{ checklist.date|date:"l, jS M Y" }}, {{ checklist.time }}
    </div>

    <div class="fs-5">
      <span>{{ checklist.location.name }}, </span>
      <span>{{ checklist.location.county }}, </span>
      <span>{{ checklist.location.state }}, </span>
      <span>{{ checklist.location.country }}</span>
    </div>

    <div class="mt-1 mb-2">
      <span>{{ checklist.observer.name }}</span>
    </div>

    {% if checklist.comments %}
      <div class="mb-3">
        {{ checklist.comments }}
      </div>
    {% endif %}

    <div class="d-flex flex-row mb-3">

      {% if checklist.observer_count %}
        <div class="me-4">
          <i class="bi bi-binoculars-fill me-1"
             title="{% trans 'Number of Observers' %}"></i>
          <span>{{ checklist.observer_count }}</span>
        </div>
      {% endif %}

      {% if checklist.duration %}
        <div class="me-4">
          <i class="bi bi-clock-fill me-1"
             title="{% trans 'Duration' %}"></i>
          <span>{{ checklist.duration }} mins</span>
        </div>
      {% endif %}

      {% if checklist.protocol_code == "P21" %}
        <div class="me-4">
          <i class="bi bi-person-standing me-1"
             title="{% trans 'Stationary' %}"></i></div>
      {% elif checklist.protocol_code == "P22" %}
        <div class="me-4">
          <i class="bi bi-person-walking"
             title="{% trans 'Travelling' %}"></i>
          <span>{{ checklist.distance }} km</span>
        </div>
      {% elif checklist.protocol_code == "P20" %}
        <div class="me-4">
          <span>{% trans "Incidental" %}</span>
        </div>
      {% endif %}

      <div class="me-4">
        {% if checklist.complete %}
          <i class="bi bi-check-circle" title="{% trans 'Complete' %}"></i>
        {% else %}
          <i class="bi bi-circle" title="{% trans 'Incomplete' %}"></i>
        {% endif %}
      </div>

      {% if checklist.location.latitude and checklist.location.longitude %}
        {% with lat=checklist.location.latitude lon=checklist.location.longitude %}
          <div class="me-4">
            <a href="http://www.openstreetmap.org/?mlat={{ lat }}&mlon={{ lon }}#map=16/{{ lat }}/{{ lon }}"
               class="link-dark" target="_blank">
                <i class="bi bi-map" title="{% trans 'Show on OpenStreetMap' %}"></i>
            </a>
          </div>
        {% endwith %}
      {% endif %}

      <div>
        <a href="{{ checklist.url }}" class="link-dark" target="_blank">
          <i class="bi bi-link-45deg" title="{% trans 'View the checklist on eBird' %}"></i>
        </a>
      </div>
    
    </div>

  </div>

  <div>
    {% include "checklists/includes/detail-table.html" %}
  </div>
{% endblock content %}
