{% extends "page.html" %}
{% load i18n species_tags static %}
{% get_current_language as language_code %}

{% block title %}{% trans 'Checklist' %} {{ checklist.identifier }}{% endblock %}

{% block header %}
  {% include "includes/header.html" with url_name='checklists:detail' url_args=checklist.identifier %}
{% endblock %}

{% block main %}
  <div class="container">
  <div class="mx-2">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{{ request.META.HTTP_REFERER }}"
             class="dark-link">{% trans 'Checklists' %}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          <span class="me-2">{{ checklist.identifier }}</span>
        </li>
      </ol>
    </nav>

    <div class="fs-4 text-muted">
      {% if language_code == 'pt' %}
        <span>{{ checklist.date|date:"l, j F Y"|lower }}, {{ checklist.time }}</span>
      {% else %}
        <span>{{ checklist.date|date:"l, jS F Y" }}, {{ checklist.time }}</span>
      {% endif %}
    </div>

    <div class="fs-5">
      <span>{{ checklist.location.display_name }}, </span>
      {% if checklist.county %}
        <span>{{ checklist.county }}, </span>
      {% endif %}
      {% if checklist.state %}
        <span>{{ checklist.state }}, </span>
      {% endif %}
      <span>{{ checklist.country }}</span>
    </div>

    <div class="mt-1 mb-2">
      <span>{{ checklist.observer.display_name }}</span>
    </div>

    {% if checklist.comments %}
      <div class="mb-3">
        {{ checklist.comments }}
      </div>
    {% endif %}

    <div class="d-flex flex-row mb-3">

      {% if checklist.duration %}
        <div class="me-3">
          <i class="bi bi-binoculars-fill me-1"
             title="{% trans 'Number of species' %}"></i>
          <span>{{ checklist.species_count }}</span>
        </div>
      {% endif %}

      {% if checklist.observer_count %}
        <div class="me-3">
          <i {% if checklist.observer_count == 1 %}
            class="bi bi-person-fill me-1"
          {% else %}
            class="bi bi-people-fill me-1"
          {% endif %}
            title="{% trans 'Number of Observers' %}"></i>
          <span>{{ checklist.observer_count }}</span>
        </div>
      {% endif %}

      {% if checklist.duration %}
        <div class="me-3">
          <i class="bi bi-clock-fill me-1"
             title="{% trans 'Duration' %}"></i>
          <span>{{ checklist.duration }} mins</span>
        </div>
      {% endif %}

      {% if checklist.protocol_code == "P21" %}
        <div class="me-3">
          <i class="bi bi-person-standing me-1"
             title="{% trans 'Stationary' %}"></i>
        </div>
        {% elif checklist.protocol_code == "P22" %}
        <div class="me-3">
          <i class="bi bi-person-walking"
             title="{% trans 'Travelling' %}"></i>
          {% with distance=checklist.distance|floatformat %}
            <span>{% blocktrans %}{{ distance }} km{% endblocktrans %}</span>
          {% endwith %}
        </div>
        {% elif checklist.protocol_code == "P20" %}
        <div class="me-3">
          <span>{% trans "Incidental" %}</span>
        </div>
      {% endif %}

      <div class="me-3">
        {% if checklist.complete %}
          <i class="bi bi-check-circle" title="{% trans 'Complete' %}"></i>
        {% else %}
          <i class="bi bi-circle" title="{% trans 'Incomplete' %}"></i>
        {% endif %}
      </div>

      {% if checklist.location.latitude and checklist.location.longitude %}
        {% with lat=checklist.location.latitude lon=checklist.location.longitude %}
          <div class="me-3">
            <a
              href="http://www.openstreetmap.org/?mlat={{ lat }}&mlon={{ lon }}#map=16/{{ lat }}/{{ lon }}"
              class="link-dark" target="_blank">
              <i class="bi bi-map"
                 title="{% trans 'Show location on OpenStreetMap' %}"></i>
            </a>
          </div>
        {% endwith %}
      {% endif %}

      <div>
        <a href="{{ checklist.url }}" class="link-dark" target="_blank">
          <i class="bi bi-link-45deg"
             title="{% trans 'View the checklist on eBird' %}"></i>
        </a>
      </div>

    </div>

  </div>

  <div>
    <table class="table border-top">
      <tbody>
      {% for observation in observations %}
        <tr>
        <td class="text-end">
          {% if observation.count %}{{ observation.count }}{% else %}X{% endif %}</td>
        <td>
          {% get_common_name observation.species language_code %} <small
          class="ms-2 text-muted fst-italic">{{ observation.species.scientific_name }}</small>
          {% if observation.comments %}<br/>{{ observation.comments }}{% endif %}
        </td>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
