{% extends "page.html" %}
{% load static %}

{% block title %}Checklists{% endblock %}

{% block content %}
  <div class="d-flex flex-row">
    <h1 class="me-4">Checklists</h1>
    <div>
      <i class="bi-search search" style="font-size: 2rem;" data-target="filter-panel"></i>
    </div>
  </div>
  <hr/>
  <div data-target="filter-panel" class="hide">
    {% include "checklists/includes/filter-form.html" %}
    <hr/>
  </div>
  <div>
    {% with checklists=page_obj %}
      {% include "checklists/includes/checklist-table.html" %}
    {% endwith %}
  </div>
  <div>
    {% include "checklists/includes/pagination.html" %}
  </div>
{% endblock content %}

{% block javascript %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
  {{ filter.form.media.js }}
  <script>
    $(document).ready(function() {
      $(':input[name$=country]').on('change', function() {
          var prefix = $(this).getFormPrefix();
          $(':input[name=' + prefix + 'state]').val(null).trigger('change');
      });
      $(':input[name$=state]').on('change', function() {
          var prefix = $(this).getFormPrefix();
          $(':input[name=' + prefix + 'county]').val(null).trigger('change');
      });
      $(':input[name$=county]').on('change', function() {
          var prefix = $(this).getFormPrefix();
          $(':input[name=' + prefix + 'location]').val(null).trigger('change');
      });

      $(".search").on('click', function (event) {
            event.preventDefault();

            var button = $(this);
                panel = $("div[data-target='"+button.attr('data-target')+"']");

            if (button.hasClass('active')) {
                button.removeClass("active");
                panel.slideUp("slow");
                if (window.sessionStorage) {
                  sessionStorage.setItem("searchPanelState", "closed");
                }
            } else {
                button.addClass('active');
                panel.slideDown("slow");
                if (window.sessionStorage) {
                  sessionStorage.setItem("searchPanelState", "open");
                }
            }
      });

      if (window.sessionStorage) {
          var button = $(".search");
              panel = $("div[data-target='"+button.attr('data-target')+"']");

          if (sessionStorage.getItem("searchPanelState") == "closed") {
              button.removeClass("active");
              panel.addClass("hide");
          } else {
              button.addClass('active');
              panel.slideDown("slow");
          }
       }
    });
  </script>

{% endblock %}
