{% extends "page.html" %}
{% load static %}

{% block title %}Checklists{% endblock %}

{% block content %}
  <h1>Checklists</h1>
  <div>
    <hr/>
    {% include "checklists/includes/filter-form.html" %}
    <hr/>
  </div>
  <div>
    {% with checklists=page_obj %}
      {% include "checklists/includes/checklist-table.html" %}
    {% endwith %}
  </div>
  <div>
    {% include "checklists/includes/pagination.html" %}
  </div>
{% endblock content %}

{% block javascript %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
  {{ filter.form.media.js }}
  <script>
    $(document).ready(function() {
      $(':input[name$=country]').on('change', function() {
          var prefix = $(this).getFormPrefix();
          console.log("Changing state");
          $(':input[name=' + prefix + 'state]').val(null).trigger('change');
      });
      $(':input[name$=state]').on('change', function() {
          var prefix = $(this).getFormPrefix();
          console.log("Changing county");
          $(':input[name=' + prefix + 'county]').val(null).trigger('change');
      });
    });
  </script>

{% endblock %}
