{% extends "page.html" %}
{% load static %}

{% block title %}Checklists{% endblock %}

{% block content %}
  <div id="page" class="hide">
    <div class="border-bottom mb-3">
      <h1 class="d-inline me-4">Checklists</h1>
      <i id="search-button" class="bi-search fs-2"></i>
      <div class="text-end">
        <small class="text-muted">Updated every hour</small>
      </div>
    </div>
    <div id="search-panel">
      {% include "checklists/includes/filter-form.html" %}
      <hr/>
    </div>
    <div>
      {% with checklists=page_obj %}
        {% include "checklists/includes/checklist-table.html" %}
      {% endwith %}
    </div>
    <div>
      {% include "checklists/includes/pagination.html" %}
    </div>
  </div>
{% endblock content %}

{% block javascript %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
  {{ filter.form.media.js }}
  <script>
    $(document).ready(function() {
      $(':input[name$=country]').on('change', function() {
          var prefix = $(this).getFormPrefix();
          $(':input[name=' + prefix + 'state]').val(null).trigger('change');
      });
      $(':input[name$=state]').on('change', function() {
          var prefix = $(this).getFormPrefix();
          $(':input[name=' + prefix + 'county]').val(null).trigger('change');
      });
      $(':input[name$=county]').on('change', function() {
          var prefix = $(this).getFormPrefix();
          $(':input[name=' + prefix + 'location]').val(null).trigger('change');
      });

      $("#search-button").on('click', function (event) {
            event.preventDefault();

            var button = $(this);
                panel = $("#search-panel");

            if (button.hasClass('active')) {
                button.removeClass('active');
                panel.slideUp("slow");
                if (window.sessionStorage) {
                  sessionStorage.setItem("checklistSearch", "closed");
                }
            } else {
                button.addClass('active');
                panel.slideDown("slow");
                if (window.sessionStorage) {
                  sessionStorage.setItem("checklistSearch", "open");
                }
            }
      });

      $("#clear-button").on('click', function() {
          $(':input[name$=country]').val(null).trigger('change');
          $(':input[name$=observer]').val(null).trigger('change');
      });

      if (window.sessionStorage) {
         var button = $("#search-button");
             panel = $("#search-panel");

         if (sessionStorage.getItem("checklistSearch") == "closed") {
             button.removeClass('active');
             panel.addClass("hide");
         } else {
             button.addClass('active');
             panel.removeClass("hide");
         }
      }

      $("#page").show();
    });
  </script>

{% endblock %}
