{% load i18n %}
{% for observation in page_obj %}
  <div class="row border-top py-2">
    <div>
      {% if language_code == 'pt' %}
        <a class="dark-link text-nowrap"
           rel="nofollow"
           href="{% querystring start=observation.date|date:'Y-m-d' finish=observation.date|date:'Y-m-d' %}"
           title="{% trans 'Show observations for this date' %}">{{ observation.date|date:"j b Y" }}</a>{% if observation.time %}, {{ observation.time }}{% endif %}
      {% else %}
        <a class="dark-link text-nowrap"
           rel="nofollow"
           href="{% querystring start=observation.date|date:'Y-m-d' finish=observation.date|date:'Y-m-d' %}"
           title="{% trans 'Show observations for this date' %}">{{ observation.date|date:"jS M Y" }}</a>{% if observation.time %}, {{ observation.time }}{% endif %}
      {% endif %}
    </div>
    <div>
      <span>{% if observation.count %}{{ observation.count }}{% else %}X{% endif %}, </span>
      <a class="dark-link me-1"
         rel="nofollow"
         href="{% querystring species=observation.species.species_code %}"
         title="{% trans 'Show observations of this species' %}">
        {{ observation.species.get_common_name }}
      </a>
      <span class="fst-italic text-nowrap">({{ observation.species.scientific_name }})</span>
    </div>
    <div>{% spaceless %}
      <a class="dark-link"
         rel="nofollow"
         href="{% querystring location=observation.location.identifier %}"
         title="{% trans 'Show observations for this location' %}">{{ observation.location.name }}</a>
      {% if observation.county %}
        <span>, </span>
        <a class="dark-link"
           rel="nofollow"
           href="{% querystring county=observation.county.code location=None %}"
           title="{% trans 'Show observations for this county' %}">{{ observation.county.name }}</a>
      {% endif %}
      <span>, </span>
      <a class="dark-link"
         rel="nofollow"
         href="{% querystring state=observation.state.code county=None location=None %}"
         title="{% trans 'Show observations for this state' %}">{{ observation.state.name }}</a>
      <span>, </span>
      <a class="dark-link"
         rel="nofollow"
         href="{% querystring country=observation.country.code state=None county=None location=None %}"
         title="{% trans 'Show observations for this country' %}">{{ observation.country }}</a>
    {% endspaceless %}</div>
    <div>
      <a class="dark-link me-3"
         rel="nofollow"
         href="{% querystring observer=observation.observer.identifier %}"
         title="{% trans 'Show observations from this observer' %}">{{ observation.observer.name }}</a>
      {% if not observation.has_media %}
        <a class="dark-link"
           rel="nofollow"
           href="{{ observation.checklist.url }}"
           target="_blank"
           title="{% trans 'View this checklist on eBird.org' %}">
          <i class="bi bi-box-arrow-up-right"></i>
        </a>
      {% endif %}
    </div>
    {% if observation.has_media %}
      <div>
        {% if observation.audio %}
          <i class="bi bi-volume-up-fill me-1"></i>
        {% endif %}
        {% if observation.photo %}
          <i class="bi bi-camera-fill me-1"></i>
        {% endif %}
        {% if observation.video %}
          <i class="bi bi-camera-video-fill me-1"></i>
        {% endif %}
        <a class="dark-link"
           href="{{ observation.checklist.url }}"
           target="_blank"
           title="{% trans 'View this checklist on eBird.org' %}">
          <i class="bi bi-box-arrow-up-right"></i>
        </a>
      </div>
    {% endif %}
    {% if not observation.approved %}
      <div class="mt-1">
        <i class="bi bi-flag-fill text-danger me-1"></i>
        <span>{{ observation.get_reason }}</span>
      </div>
    {% endif %}
  </div>
{% endfor %}
