{% load i18n %}
{% get_current_language as language_code %}
<div class="pt-2 px-md-4">
  <div class="row d-none d-lg-flex py-2">
    <div class="col-lg-1">
      <strong>{% trans "Count" %}</strong>
    </div>
    <div class="col-lg-3">
      <strong>{% trans "Species" %}</strong>
    </div>
    <div class="col-lg-2">
      <strong>{% trans "Date" %}</strong>
    </div>
    <div class="col-lg-3">
      <strong>{% trans "Location" %}</strong>
    </div>
    <div class="col-lg-3">
      <strong>{% trans "Observer" %}</strong>
    </div>
  </div>
  {% for observation in page_obj %}
    <div class="row border-top d-none d-lg-flex py-2">
      <div class="col-lg-1 text-lg-end">
        {% if observation.count %}{{ observation.count }}{% else %}X{% endif %}
      </div>
      <div class="col-lg-3">
        <a class="dark-link"
           href="{% querystring species=observation.species.species_code %}"
           title="{% trans 'Show observations of this species' %}">
          {{ observation.species.get_common_name }}
        </a>
        {% if not observation.approved %}
          <i class="bi bi-flag-fill text-danger ms-1" title="{{ observation.get_reason }}"></i>
        {% endif %}
        <br>
        <small class="text-muted fst-italic">{{ observation.species.scientific_name }}</small>
      </div>
      <div class="col-lg-2">
        {% if language_code == 'pt' %}
          <span class="text-nowrap">{{ observation.date|date:"j b Y" }}</span>
        {% else %}
          <span class="text-nowrap">{{ observation.date|date:"jS M Y" }}</span>
        {% endif %}
        {% if observation.time %}
          <br/><small class="text-muted">{{ observation.time }}</small>
        {% endif %}
      </div>
      <div class="col-lg-3">
        <a class="dark-link"
           href="{% querystring location=observation.location.identifier %}"
           title="{% trans 'Show observations for this location' %}">{{ observation.location.display_name }}</a>
        <br/>
        {% spaceless %}
          {% if observation.county %}
            <small class="text-muted">
              <a class="dark-link"
                 href="{% querystring county=observation.county.code location=None %}"
                 title="{% trans 'Show observations for this county' %}">{{ observation.county.name }}</a>
            </small>
          {% endif %}
          {% if observation.state %}
            <small class="text-muted">
              {% if observation.county %}<span>, </span>{% endif %}
              <a class="dark-link"
                 href="{% querystring state=observation.state.code county=None location=None %}"
                 title="{% trans 'Show observations for this state' %}">{{ observation.state.name }}</a>
            </small>
          {% endif %}
          {% if show_country %}
            <small class="text-muted">
              <span>, </span>
              <a class="dark-link"
                 href="{% querystring country=observation.country.code state=None county=None location=None %}"
                 title="{% trans 'Show observations for this country' %}">{{ observation.country }}</a>
            </small>
          {% endif %}
        {% endspaceless %}
      </div>
      <div class="col-lg-3">
        <a class="dark-link"
           href="{% querystring observer=observation.observer.identifier %}"
           title="{% trans 'Show observations from this observer' %}">{{ observation.observer }}</a>
      </div>
    </div>
    <div class="row {% if not forloop.first %}border-top{% endif %} d-lg-none py-2">
      <div>
        <span>{{ observation.count }}, </span>
        <a class="dark-link me-1"
           href="{% querystring species=observation.species.species_code %}"
           title="{% trans 'Show observations of this species' %}">
          {{ observation.species.get_common_name }}
        </a>
        <span class="fst-italic">({{ observation.species.scientific_name }})</span>
      </div>
      {% if not observation.approved %}
        <div>
          <i class="bi bi-flag-fill text-danger me-1"></i>
          <span>{{ observation.get_reason }}"></span>
        </div>
      {% endif %}
      <div>
        {% if language_code == 'pt' %}
          <span>{{ observation.date|date:"j F Y"|lower }}</span>
        {% else %}
          {{ observation.date|date:"jS F Y" }}
        {% endif %}
        {% if observation.time %}<span>, {{ observation.time }}</span>{% endif %}
      </div>
      <div>{% spaceless %}
        <a class="dark-link"
           href="{% querystring location=observation.location.identifier %}"
           title="{% trans 'Show observations for this location' %}">{{ observation.location.display_name }}</a>
        {% if observation.county %}
          <span>, </span>
          <a class="dark-link text-muted"
               href="{% querystring county=observation.county.code location=None %}"
               title="{% trans 'Show observations for this county' %}">{{ observation.county.name }}</a>
        {% endif %}
        {% if observation.state %}
          {% if observation.county %}
            <span>, </span>
          {% endif %}
          <a class="dark-link text-muted"
                 href="{% querystring state=observation.state.code county=None location=None %}"
                 title="{% trans 'Show observations for this state' %}">{{ observation.state.name }}</a>
        {% endif %}
        {% if show_country %}
          <a class="dark-link text-muted"
             href="{% querystring country=observation.country.code state=None county=None location=None %}"
             title="{% trans 'Show observations for this country' %}">{{ observation.country }}</a>
        {% endif %}
      {% endspaceless %}</div>
      <div>
        <a class="dark-link me-3"
           href="{% querystring observer=observation.observer.identifier %}"
           title="{% trans 'Show observations from this observer' %}">{{ observation.observer }}</a>
      </div>
    </div>
  {% endfor %}
</div>
