<div class="row">
  <div class="col">
    <div class="border-top py-3">
      <form method="get">
        {{ filter.form.media.css }}
        <div class="row">
          {% for field in filter.form.visible_fields %}
            <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                <label class="form-label text-muted mb-1" for="{{ field.auto_id }}">{{ field.label }}</label>
                {{ field }}
            </div>
          {% endfor %}
        </div>
        <div class="row">
          <div class="col">
            <button type="submit" class="btn btn-primary">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
