{% load i18n species_tags %}
{% for observation in observations %}
  <div class="row mb-3">
    <div class="col-md-1">
      <div class="show-if-wide text-end">
        {% if observation.count %}{{ observation.count }}{% else %}X{% endif %}</div>
    </div>
    <div class="col-md-3">
      <div class="show-if-wide">
        <a class="dark-link"
           href="{% querystring page=1 species=observation.species.species_code %}"
           title="{% trans 'Show observations of this species' %}">
          {% get_common_name observation.species language_code %}
        </a><br>
        <small
          class="text-muted fst-italic">{{ observation.species.scientific_name }}</small>
      </div>
      <div class="show-if-narrow">
        <span>{% if observation.count %}{{ observation.count }}{% else %}
          X{% endif %}, </span>
        <a class="dark-link"
           href="{% querystring page=1 species=observation.species.species_code %}"
           title="{% trans 'Show observations of this species' %}">
          {% get_common_name observation.species language_code %}
        </a>
        <small
          class="ms-2 text-muted fst-italic">{{ observation.species.scientific_name }}</small>
      </div>
    </div>
    <div class="col-md-2">
      <span class="text-nowrap">{{ observation.checklist.date }}, </span>
      <span class="text-nowrap">{{ observation.checklist.time }}</span>
    </div>
    <div class="col-md-4">
      <a class="dark-link"
         href="{% querystring page=1 country=observation.location.country_code state=observation.location.state_code county=observation.location.district.code location=observation.location.identifier %}"
         title="{% trans 'Show observation for this location' %}">{{ observation.location.name }}</a>
      {% spaceless %}
        {% if "county" not in filter.data %}
          <br/>
          <small class="text-muted">
            <a class="dark-link"
               href="{% querystring page=1 country=observation.location.country_code state=observation.location.region.code county=observation.location.district.code %}"
               title="{% trans 'Show observations for this county' %}">{{ observation.location.district }}</a>
          </small>
        {% endif %}
        {% if "state" not in filter.data %}
          <small class="text-muted">
            <span>, </span>
            <a class="dark-link"
               href="{% querystring page=1 country=observation.location.country.code state=observation.location.region.code %}"
               title="{% trans 'Show observations for this state' %}">{{ observation.location.region }}</a>
          </small>
        {% endif %}
        {% if "country" not in filter.data %}
          <small class="text-muted">
            <span>, </span>
            <a class="dark-link"
               href="{% querystring page=1 country=observation.location.country.code %}"
               title="{% trans 'Show observations for this country' %}">{{ observation.location.country }}</a>
          </small>
        {% endif %}
      {% endspaceless %}
    </div>
    <div class="col-md-2">
      <a class="dark-link"
         href="{% querystring page=1 observer=observation.observer.name %}"
         title="{% trans 'Show observations from this observer' %}">{{ observation.observer }}</a>
    </div>
  </div>
{% endfor %}
