{% load i18n l10n species_tags %}
{% for observation in observations %}
  <div class="row mb-3">
    <div class="col-md-1">
      <div class="show-if-wide text-end">
        {% if observation.count %}{{ observation.count }}{% else %}X{% endif %}</div>
    </div>
    <div class="col-md-3">
      <div class="show-if-wide">
        <a class="dark-link"
           href="?species={{ observation.species.species_code }}&search={% get_common_name observation.species language_code %}"
           title="{% trans 'Show observations of this species' %}">
          {% get_common_name observation.species language_code %}
        </a><br>
        <small
          class="text-muted fst-italic">{{ observation.species.scientific_name }}</small>
      </div>
      <div class="show-if-narrow">
        <span>{% if observation.count %}{{ observation.count }}{% else %}
          X{% endif %}, </span>
        <a class="dark-link"
           href="?species={{ observation.species.species_code }}&search={% get_common_name observation.species language_code %}"
           title="{% trans 'Show observations of this species' %}">
          {% get_common_name observation.species language_code %}
        </a>
        <small
          class="ms-2 text-muted fst-italic">{{ observation.species.scientific_name }}</small>
      </div>
    </div>
    <div class="col-md-2">
      {% if language_code == 'pt' %}
        <span class="text-nowrap">{{ observation.date|date:"j b Y" }}{% if observation.time %},{% endif %}</span>
      {% else %}
        <span class="text-nowrap">{{ observation.date|date:"jS M Y" }}{% if observation.time %},{% endif %}</span>
      {% endif %}
      {% if observation.time %}
        <span class="text-nowrap">{{ observation.time }}</span>
      {% endif %}
    </div>
    <div class="col-md-4">
      <a class="dark-link"
         href="?location={{ observation.location.identifier }}&search={{ observation.location|urlencode }}"
         title="{% trans 'Show observations for this location' %}">{{ observation.location.display_name }}</a>
      <br/>
      {% spaceless %}
        {% if observation.area %}
          <small class="text-muted">
            <a class="dark-link"
               href="?area={{ observation.area.code }}&search={{ observation.area|urlencode }}"
               title="{% trans 'Show observations for this area' %}">{{ observation.area.name }}</a>
          </small>
        {% endif %}
        {% if observation.county %}
          <small class="text-muted">
            {% if observation.area %}<span>, </span>{% endif %}
            <a class="dark-link"
               href="?county={{ observation.county.code }}&search={{ observation.county|urlencode }}"
               title="{% trans 'Show observations for this county' %}">{{ observation.county.name }}</a>
          </small>
        {% endif %}
        {% if observation.district %}
          <small class="text-muted">
            {% if observation.area or observation.county %}<span>, </span>{% endif %}
            <a class="dark-link"
               href="?district={{ observation.district.code }}&search={{ observation.district|urlencode }}"
               title="{% trans 'Show observations for this district' %}">{{ observation.district.name }}</a>
          </small>
        {% endif %}
        {% if observation.state %}
          <small class="text-muted">
            {% if observation.area or observation.county or observation.district %}<span>, </span>{% endif %}
            <a class="dark-link"
               href="?state={{ observation.state.code }}&search={{ observation.state|urlencode }}"
               title="{% trans 'Show observations for this state' %}">{{ observation.state.name }}</a>
          </small>
        {% endif %}
        {% if observation.region %}
          <small class="text-muted">
            {% if observation.area or observation.county or observation.district or observation.state %}<span>, </span>{% endif %}
            <a class="dark-link"
               href="?region={{ observation.region.code }}&search={{ observation.region|urlencode }}"
               title="{% trans 'Show observations for this region' %}">{{ observation.region.name }}</a>
          </small>
        {% endif %}
        {% if show_country %}
          <small class="text-muted">
            <span>, </span>
            <a class="dark-link"
               href="?country={{ observation.country.code }}&search={{ observation.country|urlencode }}"
               title="{% trans 'Show observations for this country' %}">{{ observation.country }}</a>
          </small>
        {% endif %}
      {% endspaceless %}
    </div>
    <div class="col-md-2">
      <a class="dark-link"
         href="?observer={{ observation.observer.pk|unlocalize }}&search={{ observation.observer|urlencode }}"
         title="{% trans 'Show observations from this observer' %}">{{ observation.observer }}</a>
    </div>
  </div>
{% endfor %}
