{% load i18n species_tags %}
{% for observation in observations %}
  <div class="row mb-3">
    <div class="col-md-1">
      <div class="show-if-wide text-end">
        {% if observation.count %}{{ observation.count }}{% else %}X{% endif %}</div>
    </div>
    <div class="col-md-3">
      <div class="show-if-wide">
        <a class="dark-link"
           href="{% querystring page=1 species=observation.species.species_code %}"
           title="{% trans 'Show observations of this species' %}">
          {% get_common_name observation.species language_code %}
        </a><br>
        <small
          class="text-muted fst-italic">{{ observation.species.scientific_name }}</small>
      </div>
      <div class="show-if-narrow">
        <span>{% if observation.count %}{{ observation.count }}{% else %}
          X{% endif %}, </span>
        <a class="dark-link"
           href="{% querystring page=1 species=observation.species.species_code %}"
           title="{% trans 'Show observations of this species' %}">
          {% get_common_name observation.species language_code %}
        </a>
        <small
          class="ms-2 text-muted fst-italic">{{ observation.species.scientific_name }}</small>
      </div>
    </div>
    <div class="col-md-2">
      {% if language_code == 'pt' %}
        <span class="text-nowrap">{{ observation.date|date:"j b Y" }}, </span>
      {% else %}
        <span class="text-nowrap">{{ observation.date|date:"jS M Y" }}, </span>
      {% endif %}
      <span class="text-nowrap">{{ observation.checklist.time }}</span>
    </div>
    <div class="col-md-4">
      <a class="dark-link"
         href="{% querystring page=1 country=observation.country.code state=observation.region.code county=observation.district.code location=observation.location.identifier %}"
         title="{% trans 'Show observation for this location' %}">{{ observation.location.display_name }}</a>
      <br/>
      {% spaceless %}
        {% if observation.area %}
          <small class="text-muted">
            <a class="dark-link"
               href="{% querystring area=observation.area.code location=None page=1 %}"
               title="{% trans 'Show checklists for this area' %}">{{ observation.area.name }}</a>
          </small>
        {% endif %}
        {% if observation.county %}
          <small class="text-muted">
            {% if observation.area %}<span>, </span>{% endif %}
            <a class="dark-link"
               href="{% querystring county=observation.county.code area=None location=None page=1 %}"
               title="{% trans 'Show checklists for this county' %}">{{ observation.county.name }}</a>
          </small>
        {% endif %}
        {% if observation.district %}
          <small class="text-muted">
            {% if observation.area or observation.county %}<span>, </span>{% endif %}
            <a class="dark-link"
               href="{% querystring district=observation.district.code county=None area=None location=None page=1 %}"
               title="{% trans 'Show checklists for this district' %}">{{ observation.district.name }}</a>
          </small>
        {% endif %}
        {% if observation.state %}
          <small class="text-muted">
            {% if observation.area or observation.county or observation.district %}<span>, </span>{% endif %}
            <a class="dark-link"
               href="{% querystring state=observation.state.code district=None county=None area=None location=None page=1 %}"
               title="{% trans 'Show checklists for this state' %}">{{ observation.state.name }}</a>
          </small>
        {% endif %}
        {% if observation.region %}
          <small class="text-muted">
            {% if observation.area or observation.county or observation.district or observation.state %}<span>, </span>{% endif %}
            <a class="dark-link"
               href="{% querystring region=observation.region.code state=None district=None county=None area=None location=None page=1 %}"
               title="{% trans 'Show checklists for this region' %}">{{ observation.region.name }}</a>
          </small>
        {% endif %}
        <small class="text-muted">
          <span>, </span>
          <a class="dark-link"
             href="{% querystring country=observation.country.code region=None state=None district=None county=None area=None location=None page=1 %}"
             title="{% trans 'Show checklists for this country' %}">{{ observation.country }}</a>
        </small>
      {% endspaceless %}
    </div>
    <div class="col-md-2">
      <a class="dark-link"
         href="{% querystring page=1 observer=observation.observer.name %}"
         title="{% trans 'Show observations from this observer' %}">{{ observation.observer }}</a>
    </div>
  </div>
{% endfor %}
