{% load i18n %}
{% for checklist in checklists %}
  <div class="row mb-3">
    <div class="col-md-1 pt-1">
      <a class="dark-link"
         href="{% url 'checklists:detail' checklist.identifier %}"
         title="{% trans 'View this checklist' %}">
        <span>{{ checklist.identifier }}</span>
      </a>
    </div>
    <div class="col-md-2 pt-1">
      <span class="text-nowrap">{{ checklist.date }}, </span>
      <span class="text-nowrap">{{ checklist.time }}</span>
    </div>
    <div class="col-md-6 pt-1">
      <a class="dark-link"
         href="{% querystring page=1 country=checklist.country.code state=checklist.region.code county=checklist.district.code location=checklist.location.identifier %}"
         title="{% trans 'Show checklists for this location' %}">{{ checklist.location.name }}</a>
      {% spaceless %}
        {% if "county" not in filter.data %}
          <br/>
          <small class="text-muted">
            <a class="dark-link"
               href="{% querystring page=1 country=checklist.country.code state=checklist.region.code county=checklist.district.code %}"
               title="{% trans 'Show checklists for this county' %}">{{ checklist.district }}</a>
          </small>
        {% endif %}
        {% if "state" not in filter.data %}
          <small class="text-muted">
            <span>, </span>
            <a class="dark-link"
               href="{% querystring page=1 country=checklist.country.code state=checklist.region.code %}"
               title="{% trans 'Show checklists for this state' %}">{{ checklist.region }}</a>
          </small>
        {% endif %}
        {% if "country" not in filter.data %}
          <small class="text-muted">
            <span>, </span>
            <a class="dark-link"
               href="{% querystring page=1 country=checklist.country.code %}"
               title="{% trans 'Show checklists for this country' %}">{{ checklist.country }}</a>
          </small>
        {% endif %}
      {% endspaceless %}
    </div>
    <div class="col-md-2 pt-1 mb-1">
      <a class="dark-link"
         href="{% querystring page=1 observer=checklist.observer.name %}"
         title="{% trans 'Show checklists for this observer' %}">{{ checklist.observer }}</a>
    </div>
    <div class="col-md-1">
      <span class="bi bi-binoculars-fill"
            title="{% trans 'Number of species reported' %}"></span>
      <span>{{ checklist.species_count }}</span>
    </div>
  </div>
{% endfor %}
