{% load i18n %}
<form method="get">
  {{ filter.form.media.css }}

  <div class="row">
    <div class="col-md-4 mb-2">
      <label class="form-label"
             for="{{ filter.form.country.auto_id }}">{{ filter.form.country.label }}</label>
      <div>
        {{ filter.form.country }}
        {{ filter.form.country.help_text }}
        {{ filter.form.country.errors }}
      </div>
    </div>
    <div class="col-md-4 mb-2">
      <label class="form-label"
             for="{{ filter.form.district.auto_id }}">{{ filter.form.district.label }}</label>
      <div>
        {{ filter.form.district }}
        {{ filter.form.district.help_text }}
        {{ filter.form.district.errors }}
      </div>
    </div>
    <div class="col-md-4 mb-2">
      <label class="form-label"
             for="{{ filter.form.county.auto_id }}">{{ filter.form.county.label }}</label>
      <div>
        {{ filter.form.county }}
        {{ filter.form.county.help_text }}
        {{ filter.form.county.errors }}
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-4 mb-2">
      <label class="form-label"
             for="{{ filter.form.location.auto_id }}">{{ filter.form.location.label }}</label>
      <div>
        {{ filter.form.location }}
        {{ filter.form.location.help_text }}
        {{ filter.form.location.errors }}
      </div>
    </div>
    <div class="col-md-4 mb-2">
      <label class="form-label"
             for="{{ filter.form.observer.auto_id }}">{{ filter.form.observer.label }}</label>
      <div>
        {{ filter.form.observer }}
        {{ filter.form.observer.help_text }}
        {{ filter.form.observer.errors }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button type="submit" class="btn btn-primary me-3">{% trans 'Search' %}</button>
      <input id="clear-button" type="button" value="{% trans 'Clear' %}"
             class="btn btn-secondary">
    </div>
  </div>
</form>
