{% load i18n %}
<table class="table">
  <thead>
    <tr>
      <th>{% trans "Date" %}</th>
      <th>{% trans "species.plural" %}</th>
      <th>{% trans "Location" %}</th>
      <th colspan="3">{% trans "Protocol" %}</th>
      <th>{% trans "Observer" %}</th>
      <th>{% trans "Checklist" %}</th>
    </tr>
  </thead>
  {% for checklist in page_obj %}
    <tr>
      <td>
        {% if language_code == 'pt' %}
          <a class="dark-link text-nowrap"
             rel="nofollow"
             href="{% querystring start=checklist.date|date:'Y-m-d' finish=checklist.date|date:'Y-m-d' %}"
             title="{% trans 'Show checklists for this date' %}">{{ checklist.date|date:"j b Y" }}</a>
        {% else %}
          <a class="dark-link text-nowrap"
             rel="nofollow"
             href="{% querystring start=checklist.date|date:'Y-m-d' finish=checklist.date|date:'Y-m-d' %}"
             title="{% trans 'Show checklists for this date' %}">{{ checklist.date|date:"jS M Y" }}</a>
        {% endif %}
        {% if checklist.time %}
          <br/><small class="text-muted">{{ checklist.time }}</small>
        {% endif %}
      </td>
      <td class="text-end">
        {{ checklist.species_count }}
      </td>
      <td>
        <a class="dark-link"
           rel="nofollow"
           href="{% querystring location=checklist.location.identifier %}"
           title="{% trans 'Show checklists for this location' %}">{{ checklist.location.name }}</a>
        <br/>
        {% spaceless %}
          {% if checklist.county %}
            <small class="text-muted">
              <a class="dark-link"
                 rel="nofollow"
                 href="{% querystring county=checklist.county.code location=None %}"
                 title="{% trans 'Show checklists for this county' %}">{{ checklist.county.name }}</a>
            </small>
          {% endif %}
          {% if checklist.state %}
            <small class="text-muted">
              {% if checklist.county %}<span>, </span>{% endif %}
              <a class="dark-link"
                 rel="nofollow"
                 href="{% querystring state=checklist.state.code county=None location=None %}"
                 title="{% trans 'Show checklists for this state' %}">{{ checklist.state.name }}</a>
            </small>
          {% endif %}
          <small class="text-muted">
            <span>, </span>
            <a class="dark-link"
               rel="nofollow"
               href="{% querystring country=checklist.country.code state=None county=None location=None %}"
               title="{% trans 'Show checklists for this country' %}">{{ checklist.country }}</a>
          </small>
        {% endspaceless %}
      </td>
      <td class="pe-0">
        <span class="me-1">
          {% if checklist.complete %}
            <i class="bi bi-check-circle" title="{% trans 'Complete' %}"></i>
          {% else %}
            <i class="bi bi-circle" title="{% trans 'Incomplete' %}"></i>
          {% endif %}
        </span>
      </td>
      <td class="px-0">
        {% if checklist.observer_count %}
          <span class="me-1">
            <i {% if checklist.observer_count == 1 %}
              class="bi bi-person-fill"
            {% else %}
              class="bi bi-people-fill"
            {% endif %}
              title="{% trans 'Number of Observers' %}"></i>
            <span>{{ checklist.observer_count }}</span>
          </span>
        {% endif %}
      </td>
      <td class="px-0">
        <span class="me-1">
          {% if checklist.protocol_code == "P21" %}
            <i class="bi bi-person-standing"
               title="{% trans 'Stationary' %}"></i>
            <span>{{ checklist.duration }} mins</span>
          {% elif checklist.protocol_code == "P22" %}
            <i class="bi bi-person-walking"
               title="{% trans 'Travelling' %}"></i>
            {% with distance=checklist.distance|floatformat %}
              <span>{% blocktrans %}{{ distance }} km,{% endblocktrans %}</span>
              <span>{{ checklist.duration }} {% if checklist.duration == 1 %}min{% else %}mins{% endif %}</span>
            {% endwith %}
          {% elif checklist.protocol_code == "P20" %}
            <span>{% trans "Incidental" %}</span>
          {% endif %}
        </span>
      </td>
      <td>
        <a class="dark-link"
           rel="nofollow"
           href="{% querystring observer=checklist.observer.identifier %}"
           title="{% trans 'Show checklists for this observer' %}">{{ checklist.observer.name }}</a>
      </td>
      <td>
        <a class="dark-link"
           href="{{ checklist.url }}"
           target="_blank"
           title="{% trans 'View this checklist on eBird.org' %}">
        <i class="bi bi-box-arrow-up-right"></i>
        </a>
      </td>
    </tr>
  {% endfor %}
</table>
