{% load i18n %}
{% get_current_language as language_code %}
{% trans "Species (plural)" as species_label %}
<div class="pt-2 px-md-4">
  <div class="row d-none d-lg-flex py-2">
    <div class="col-lg-2">
      <strong>{% trans "Date" %}</strong>
    </div>
    <div class="col-lg-4">
      <strong>{% trans "Location" %}</strong>
    </div>
    <div class="col-lg-2">
      <strong>{% trans "Observer" %}</strong>
    </div>
    <div class="col-lg-2 text-lg-end">
      <strong>{% trans "No. of Species" %}</strong>
    </div>
    <div class="col-lg-2">
      <strong>{% trans "Checklist" %}</strong>
    </div>
  </div>
  {% for checklist in page_obj %}
    <div class="row border-top d-none d-lg-flex py-2">
      <div class="col-lg-2 col-xl-2">
        {% if language_code == 'pt' %}
          <span class="text-nowrap">{{ checklist.date|date:"j b Y" }}</span>
        {% else %}
          <span class="text-nowrap">{{ checklist.date|date:"jS M Y" }}</span>
        {% endif %}
        {% if checklist.time %}
          <br/><small class="text-muted">{{ checklist.time }}</small>
        {% endif %}
      </div>
      <div class="col-lg-4 col-xl-4">
        <a class="dark-link"
           href="?location={{ checklist.location.identifier }}"
           title="{% trans 'Show checklists for this location' %}">{{ checklist.location.display_name }}</a>
        <br/>
        {% spaceless %}
          {% if checklist.county %}
            <small class="text-muted">
              <a class="dark-link"
                 href="?county={{ checklist.county.code }}"
                 title="{% trans 'Show checklists for this county' %}">{{ checklist.county.name }}</a>
            </small>
          {% endif %}
          {% if checklist.state %}
            <small class="text-muted">
              {% if checklist.county %}<span>, </span>{% endif %}
              <a class="dark-link"
                 href="?state={{ checklist.state.code }}"
                 title="{% trans 'Show checklists for this state' %}">{{ checklist.state.name }}</a>
            </small>
          {% endif %}
          {% if show_country %}
            <small class="text-muted">
              <span>, </span>
              <a class="dark-link"
                 href="?country={{ checklist.country.code }}"
                 title="{% trans 'Show checklists for this country' %}">{{ checklist.country }}</a>
            </small>
          {% endif %}
        {% endspaceless %}
      </div>
      <div class="col-lg-2 col-xl-2">
        <a class="dark-link"
           href="?observer={{ checklist.observer.identifier }}"
           title="{% trans 'Show checklists for this observer' %}">{{ checklist.observer }}</a>
      </div>
      <div class="col-lg-2 col-xl-2 text-lg-end">
        <span class="d-lg-none">{% trans "No. of species" %}:</span>
        <span>{{ checklist.species_count }}</span>
      </div>
      <div class="col-lg-2 col-xl-2">
        <a class="dark-link"
           href="{{ checklist.url }}"
           target="_blank"
           title="{% trans 'View this checklist on eBird.org' %}">
        <i class="bi bi-box-arrow-up-right"></i>
        </a>
      </div>
    </div>
    <div class="row border-top d-lg-none py-2">
      <div>
        <span>
          {% if language_code == 'pt' %}
            {{ checklist.date|date:"j F Y"|lower }}
          {% else %}
            {{ checklist.date|date:"jS F Y" }}
          {% endif %}
        </span>
      </div>
      <div>{% spaceless %}
        <a class="dark-link"
           href="?location={{ checklist.location.identifier }}"
           title="{% trans 'Show checklists for this location' %}">{{ checklist.location.display_name }}</a>
        {% if checklist.county %}
            <span>, </span>
            <a class="dark-link text-muted"
                 href="?county={{ checklist.county.code }}"
                 title="{% trans 'Show checklists for this county' %}">{{ checklist.county.name }}</a>
        {% endif %}
          {% if checklist.state %}
            {% if checklist.county %}<span>, </span>{% endif %}
              <a class="dark-link text-muted"
                 href="?state={{ checklist.state.code }}"
                 title="{% trans 'Show checklists for this state' %}">{{ checklist.state.name }}</a>
          {% endif %}
          {% if show_country %}
            <a class="dark-link text-muted"
               href="?country={{ checklist.country.code }}"
               title="{% trans 'Show checklists for this country' %}">{{ checklist.country }}</a>
          {% endif %}
      {% endspaceless %}</div>
      <div>
        <a class="dark-link me-3"
           href="?observer={{ checklist.observer.identifier }}"
           title="{% trans 'Show checklists for this observer' %}">{{ checklist.observer }}</a>
      </div>
      <div>
        <span class="me-3">{{ checklist.species_count }} {{ species_label|lower }}</span>
        <a class="dark-link"
           href="{{ checklist.url }}"
           target="_blank"
           title="{% trans 'View this checklist on eBird.org' %}">
          <i class="bi bi-box-arrow-up-right"></i>
        </a>
      </div>
    </div>
  {% endfor %}
</div>
