{% load i18n %}
{% get_current_language as language_code %}
<div class="row">
  <div class="col">
    <div class="border-top pt-3 overflow-hidden">
      <div class="row py-2">
        <div class="col-lg-2 col-xl-2">
          <strong>{% trans "Checklist" %}</strong>
        </div>
        <div class="col-lg-2 col-xl-2">
          <strong>{% trans "Date" %}</strong>
        </div>
        <div class="col-lg-4 col-xl-4">
          <strong>{% trans "Location" %}</strong>
        </div>
        <div class="col-lg-2 col-xl-2">
          <strong>{% trans "Observer" %}</strong>
        </div>
        <div class="col-lg-2 col-xl-2 text-end">
          <strong>{% trans "No. of Species" %}</strong>
        </div>
      </div>
      {% for checklist in page_obj %}
        <div class="row border-top py-2">
          <div class="col-lg-2 col-xl-2">
            <a class="dark-link"
               href="{% url 'checklists:detail' checklist.identifier %}"
               title="{% trans 'View this checklist' %}">
              <span>{{ checklist.identifier }}</span>
            </a>
          </div>
          <div class="col-lg-2 col-xl-2">
            {% if language_code == 'pt' %}
              <span class="text-nowrap">{{ checklist.date|date:"j b Y" }}</span>
            {% else %}
              <span class="text-nowrap">{{ checklist.date|date:"jS M Y" }}</span>
            {% endif %}
            {% if checklist.time %}
              <br/><small class="text-muted">{{ checklist.time }}</small>
            {% endif %}
          </div>
          <div class="col-lg-4 col-xl-4">
            <a class="dark-link"
               href="?location={{ checklist.location.identifier }}&search={{ checklist.location|urlencode }}"
               title="{% trans 'Show checklists for this location' %}">{{ checklist.location.display_name }}</a>
            <br/>
            {% spaceless %}
              {% if checklist.county %}
                <small class="text-muted">
                  <a class="dark-link"
                     href="?county={{ checklist.county.code }}&search={{ checklist.county|urlencode }}"
                     title="{% trans 'Show checklists for this county' %}">{{ checklist.county.name }}</a>
                </small>
              {% endif %}
              {% if checklist.state %}
                <small class="text-muted">
                  {% if checklist.county %}<span>, </span>{% endif %}
                  <a class="dark-link"
                     href="?state={{ checklist.state.code }}&search={{ checklist.state|urlencode }}"
                     title="{% trans 'Show checklists for this state' %}">{{ checklist.state.name }}</a>
                </small>
              {% endif %}
              {% if show_country %}
                <small class="text-muted">
                  <span>, </span>
                  <a class="dark-link"
                     href="?country={{ checklist.country.code }}&search={{ checklist.country|urlencode }}"
                     title="{% trans 'Show checklists for this country' %}">{{ checklist.country }}</a>
                </small>
              {% endif %}
            {% endspaceless %}
          </div>
          <div class="col-lg-2 col-xl-2">
            <a class="dark-link"
               href="?observer={{ checklist.observer.identifier }}&search={{ checklist.observer|urlencode }}"
               title="{% trans 'Show checklists for this observer' %}">{{ checklist.observer }}</a>
          </div>
          <div class="col-lg-2 col-xl-2 text-md-end">
            <span>{{ checklist.species_count }}</span>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
