{% load i18n %}
{% for checklist in page_obj %}
  <div class="row border-top py-2">
    <div>
      <a class="dark-link text-nowrap"
         href="{% querystring start=checklist.date|date:'Y-m-d' finish=checklist.date|date:'Y-m-d' %}"
         title="{% trans 'Show checklists for this date' %}">
        {% if language_code == 'pt' %}
          <span>{{ checklist.date|date:"j b Y" }}</span>
        {% else %}
          <span>{{ checklist.date|date:"jS M Y" }}</span>
        {% endif %}
      </a>
    </div>
    <div>{% spaceless %}
      <a class="dark-link"
         href="{% querystring location=checklist.location.identifier %}"
         title="{% trans 'Show checklists for this location' %}">{{ checklist.location.name }}</a>
      {% if checklist.county %}
          <span>, </span>
          <a class="dark-link"
               href="{% querystring county=checklist.county.code location=None %}"
               title="{% trans 'Show checklists for this county' %}">{{ checklist.county.name }}</a>
      {% endif %}
        {% if checklist.state %}
          {% if checklist.county %}<span>, </span>{% endif %}
            <a class="dark-link"
               href="{% querystring state=checklist.state.code county=None location=None %}"
               title="{% trans 'Show checklists for this state' %}">{{ checklist.state.name }}</a>
        {% endif %}
        {% if show_country %}
          <a class="dark-link"
             href="{% querystring country=checklist.country.code state=None county=None location=None %}"
             title="{% trans 'Show checklists for this country' %}">{{ checklist.country }}</a>
        {% endif %}
    {% endspaceless %}</div>
    <div>
      <a class="dark-link me-3"
         href="{% querystring observer=checklist.observer.identifier %}"
         title="{% trans 'Show checklists for this observer' %}">{{ checklist.observer.name }}</a>
    </div>
    <div>
      <span class="me-2">{% spaceless %}
        <i class="bi bi-binoculars-fill me-1"
           title="{% trans 'Number of species' %}"></i>
        <span>{{ checklist.species_count }}</span>
      {% endspaceless %}</span>
      <span class="me-2">
        {% if checklist.complete %}
          <i class="bi bi-check-circle" title="{% trans 'Complete' %}"></i>
        {% else %}
          <i class="bi bi-circle" title="{% trans 'Incomplete' %}"></i>
        {% endif %}
      </span>
      {% if checklist.observer_count %}
        <span class="me-2">{% spaceless %}
          <i {% if checklist.observer_count == 1 %}
            class="bi bi-person-fill me-1"
          {% else %}
            class="bi bi-people-fill me-1"
          {% endif %}
            title="{% trans 'Number of Observers' %}"></i>
          <span>{{ checklist.observer_count }}</span>
        {% endspaceless %}</span>
      {% endif %}
      {% if checklist.protocol_code == "P21" %}
        <span class="me-2">{% spaceless %}
          <i class="bi bi-person-standing me-2"
             title="{% trans 'Stationary' %}"></i>
          {% if checklist.time %}
            <span class="me-2">{{ checklist.time }}</span>
          {% endif %}
          <span>{{ checklist.duration }} mins</span>
        {% endspaceless %}</span>
      {% elif checklist.protocol_code == "P22" %}
        <span class="me-2">{% spaceless %}
          <i class="bi bi-person-walking me-2"
             title="{% trans 'Travelling' %}"></i>
          {% if checklist.time %}
            <span class="me-2">{{ checklist.time }}</span>
          {% endif %}
          {% with distance=checklist.distance|floatformat %}
            <span class="me-1">{% blocktrans %}{{ distance }} km,{% endblocktrans %}</span>
            <span>{{ checklist.duration }} {% if checklist.duration == 1 %}min{% else %}mins{% endif %}</span>
          {% endwith %}
        {% endspaceless %}</span>
      {% elif checklist.protocol_code == "P20" %}
        <span class="me-2">{% spaceless %}
          <span class="me-2">{% trans "Incidental" %}</span>
          {% if checklist.time %}
            <span>{{ checklist.time }}</span>
          {% endif %}
        {% endspaceless %}</span>
      {% endif %}
      <a class="dark-link"
         href="{{ checklist.url }}"
         target="_blank"
         title="{% trans 'View this checklist on eBird.org' %}">
        <i class="bi bi-box-arrow-up-right"></i>
      </a>
    </div>
  </div>
{% endfor %}
