{% extends "page.html" %}
{% load static i18n species_tags %}

{% block title %}{% trans 'Big Day' %}{% endblock %}

{% block main %}
  <div class="border-bottom pb-2 mb-3">
    <h1>{% trans 'Big Day' %}</h1>
  </div>
  <div class="border-bottom pb-2 mb-3">
    <h3>
      <span class="text-nowrap">
        {% if language_code == 'pt' %}
          {{ date|date:"j b Y" }}
        {% else %}
          {{ date|date:"jS M Y" }}
        {% endif %}
      </span> - <span>{{ observer.name }}</span>
    </h3>
  </div>
  <div class="mb-5">
    {% for observation in observations %}
      {% ifchanged observation.species %}
        <div class="row mb-3">
          <div class="col-md-4 col-sm-6">
            {% with species=observation.species %}
              {% get_common_name species language_code as common_name %}
              {{ common_name }} ({% if observation.count %}{{ observation.count }}{% else %}X{% endif %})<br>
              <small class="text-muted fst-italic">{{ species.scientific_name }}</small>
            {% endwith %}
          </div>
          <div class="col">
            {{ observation.location.display_name }}<br/>
            {% spaceless %}
              {% if observation.county %}
                <small class="text-muted">{{ observation.county.name }}</small>
              {% endif %}
              {% if observation.state %}
                <small class="text-muted">
                  {% if observation.county %}<span>, </span>{% endif %}
                  {{ observation.state.name }}
                </small>
              {% endif %}
              {% if show_country %}
                <small class="text-muted">, {{ observation.country.name }}</small>
              {% endif %}
            {% endspaceless %}
          </div>
        </div>
      {% endifchanged %}
    {% endfor %}
  </div>
{% endblock %}
