{% extends "page.html" %}
{% load static i18n %}

{% block language_selector %}
  <li><a class="dropdown-item"
         href="{% url 'observations:list' %}{% querystring %}">{{ lang_name }}</a></li>
{% endblock %}

{% block title %}{% trans 'Observations' %}{% endblock %}

{% block content %}

  <div class="row border-bottom align-items-baseline mb-3">
    <h1 class="col-lg-4 col-md-6 mb-3">{% trans 'Observations' %}</h1>
    <div class="ms-auto text-end col-lg-2 col-md-4 mb-3">
      <small class="text-muted">{% trans 'Updated every hour' %}</small>
    </div>
  </div>

  <div class="border-bottom pb-3 mb-3">
    {% include "observations/includes/filter-form.html" %}
  </div>

  <div class="mb-3">
    {% with observations=page_obj %}
      {% include "observations/includes/observation-table.html" %}
    {% endwith %}
  </div>

  <div>
    {% include "observations/includes/pagination.html" %}
  </div>
{% endblock content %}

{% block javascript %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
  {{ filter.form.media.js }}
  <script>
    $(document).ready(function() {
      $(':input[name$=country]').on('change', function() {
          var prefix = $(this).getFormPrefix();
          $(':input[name=' + prefix + 'state]').val(null).trigger('change');
      });
      $(':input[name$=state]').on('change', function() {
          var prefix = $(this).getFormPrefix();
          $(':input[name=' + prefix + 'county]').val(null).trigger('change');
      });
      $(':input[name$=county]').on('change', function() {
          var prefix = $(this).getFormPrefix();
          $(':input[name=' + prefix + 'location]').val(null).trigger('change');
      });
    });
  </script>

{% endblock %}
